dist/admin/administrador-principal.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles-admin.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <base href="http://easy-insurance.opuntialabs.com/" target="_self">
    <title>Easy Insurance | Emitir</title>
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="wrap-header">
              <div class="logo"><a href="./"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="user-info">
                <div class="user-wrap"><a href="admin/perfil-usuario.html"><img src="img/iconos/easy_insurance-usuario.svg"></a><a href="admin/perfil-usuario.html">
                    <h3 class="user-name">Uriel</h3></a>
                  <p class="center"><a href="login.html"> <span>cerrar sesión</span></a></p>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <div class="admin-wrapper">
            <div class="container">
              <div class="menu-container">
                <div class="inner">
                  <ul class="main-menu">
                    <li><a href="#"><span class="reportes">Reportes</span></a></li>
                    <li class="has-submenu"><a href="#"><span class="usuarios">Usuarios</span></a>
                      <ul class="sub-menu">
                        <li> <a href="#">Ver todos</a></li>
                        <li> <a href="agregar-usuario.html">Agregar nuevo</a></li>
                      </ul>
                    </li>
                    <li><a href="#"><span class="polizas">Pólizas</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="content">
                <div class="inner">
                  <div class="top-bar">
                    <div class="container">
                      <h1 class="title">Administrador Principal</h1>
                      <div class="buscar">
                        <label>
                          <input type="text" placeholder="Buscar ...">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="separator"></div>
                  <div class="table-container">
                    <table class="admin">
                      <thead>
                        <tr>
                          <th scope="col"><span class="nombre">Nombre</span></th>
                          <th scope="col"><span class="correo">Correo</span></th>
                          <th scope="col"><span class="venta">Venta Mensual</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-label="Nombre">Ana Paula Solórzano</td>
                          <td data-label="Correo">apsolorzano@easyinsurance.mx</td>
                          <td data-label="Venta Mensual">$15,000.00</td>
                        </tr>
                        <tr>
                          <td data-label="Nombre">Ana Paula Solórzano</td>
                          <td data-label="Correo">apsolorzano@easyinsurance.mx</td>
                          <td data-label="Venta Mensual">$15,000.00</td>
                        </tr>
                        <tr>
                          <td data-label="Nombre">Ana Paula Solórzano</td>
                          <td data-label="Correo">apsolorzano@easyinsurance.mx</td>
                          <td data-label="Venta Mensual">$15,000.00</td>
                        </tr>
                        <tr>
                          <td data-label="Nombre">Ana Paula Solórzano</td>
                          <td data-label="Correo">apsolorzano@easyinsurance.mx</td>
                          <td data-label="Venta Mensual">$15,000.00</td>
                        </tr>
                        <tr>
                          <td data-label="Nombre">Ana Paula Solórzano</td>
                          <td data-label="Correo">apsolorzano@easyinsurance.mx</td>
                          <td data-label="Venta Mensual">$15,000.00</td>
                        </tr>
                        <tr>
                          <td data-label="Nombre">Ana Paula Solórzano</td>
                          <td data-label="Correo">apsolorzano@easyinsurance.mx</td>
                          <td data-label="Venta Mensual">$15,000.00</td>
                        </tr>
                        <tr>
                          <td data-label="Nombre">Ana Paula Solórzano</td>
                          <td data-label="Correo">apsolorzano@easyinsurance.mx</td>
                          <td data-label="Venta Mensual">$15,000.00</td>
                        </tr>
                        <tr>
                          <td data-label="Nombre">Ana Paula Solórzano</td>
                          <td data-label="Correo">apsolorzano@easyinsurance.mx</td>
                          <td data-label="Venta Mensual">$15,000.00</td>
                        </tr>
                        <tr>
                          <td data-label="Nombre">Ana Paula Solórzano</td>
                          <td data-label="Correo">apsolorzano@easyinsurance.mx</td>
                          <td data-label="Venta Mensual">$15,000.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="#">Aviso de privacidad</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script>
        $('.has-submenu > a').click(function(e){
        	e.preventDefault();
        	$(this).next('.sub-menu').fadeToggle();
        });
      </script>
    </div>
  </body>
</html>

app/pug/administrador-principal.pug
extends partials/_layout-cotizador
block scriptsHead
	title Easy Insurance | Emitir
block content
	.admin-wrapper
		.container
			.menu-container
				.inner
					ul.main-menu
						li
							a(href="#")
								span.reportes Reportes
						li.has-submenu
							a(href="#")
								span.usuarios Usuarios
							ul.sub-menu
								li 
									a(href="#") Ver todos
								li 
									a(href="agregar-usuario.html") Agregar nuevo
						li
							a(href="#")
								span.polizas Pólizas

			.content
				.inner
					.top-bar
						.container
							h1.title Administrador Principal
							.buscar
								label
									input(type="text" placeholder="Buscar ...")
					.separator
					.table-container
						table.admin
							thead
								tr
									th(scope="col")
										span.nombre Nombre
									th(scope="col")
										span.correo Correo
									th(scope="col")
										span.venta Venta Mensual
							tbody
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00


block scriptsFooter
	
