app/pug/agregar-usuario.pug
extends partials/_layout-cotizador
block scriptsHead
	title Easy Insurance | Emitir
	link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
block content
	.admin-wrapper
		.container
			.menu-container
				.inner
					ul.main-menu
						li
							a(href="#")
								span.reportes Reportes
						li.has-submenu
							a(href="#")
								span.usuarios Usuarios
							ul.sub-menu
								li 
									a(href="administrador-principal.html") Ver todos
								li 
									a(href="#") Agregar nuevo
						li
							a(href="#")
								span.polizas Pólizas

			.content
				.inner
					.top-bar
						.container
							h1.title Nuevo Usuario
							.buscar
								label
									input(type="text" placeholder="Buscar ...")
					.half-separator
					.form-container.agregar-usuario
						.inner-container
							form.form-admin#nuevo-usuario
								h2 Datos Generales
								.row
									.input12
										label Nombre
										input(type="text" name="name" required)
									.input12
										label Apellidos
										input(type="text" name="lastName" required)
								.row
									.input12
										label Correo electrónico
										input(type="email" name="email" id="email" required)
									.input12
										label Confirmar correo electrónico
										input(type="email" name="confirmEmail" required)
								.row
									.input12
										label Contraseña
										input(type="password" name="password" id="password1" required)
									.input12
										label Confirmar contraseña
										input(type="password" name="confirmPassword" required)
								.row
									.input12
										label Tipo usuario
										select
											option(selected hidden) - Seleccionar -
									.input12
										label Fecha Nacimiento (DD/MM/AAA)
										input(type="text" name="dateBirth" id="date-birth" required)
								.half-separator
								h2 Dirección
								.input.row-inline.direccion
									.input
										label Calle
										input(type="text" name="streetAddress" required)
									.input
										label Número ext-int
										input(type="number" name="numberAddress" required)
									.input
										label Código Postal
										input(type="number" name="zipCode" required)
								.row
									.input12
										label Colonia
										input(type="text" name="neighborhood")
									.input12
										label Delegación
										input(type="text" name="town")
								.row
									.input12
										label Ciudad
										input(type="text" name="city")
									.input12
										label Estado
										input(type="text" name="state")
								.half-separator
								h2 Datos Personales
								.row
									.input12
										label Teléfono
										input(type="text" name="telephone" required)
									.input12
										label RFC
										input(type="text" name="rfc")
								.row
									.input12
										label CURP
										input(type="text" name="curp")
									.input12.right
										input.btn-orange(type="submit" value="Agregar usuario")
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script.
		$('#nuevo-usuario').validate({
			rules: {

				confirmEmail:{
					required: true,
					email: true,
					equalTo: "#email"
				},
				confirmPassword:{
					required: true,
					equalTo: "#password1"
				}
			},
			messages: {
				email:{
					email: "Formato: tunombre@domain.com"
				},
				confirmEmail: {
					equalTo: "El email no coincide.",
					email: "Formato: tunombre@domain.com"
				},
				confirmPassword: {
					equalTo: "Las contraseñas no coinciden."
				}
			}
		});
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
		});
	script.
		$( "#date-birth" ).datepicker({
			changeMonth: true,
			changeYear: true
		});

dist/agregar-usuario.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles-admin.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <base href="http://easy-insurance.opuntialabs.com/" target="_self">
    <title>Easy Insurance | Emitir</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="wrap-header">
              <div class="logo"><a href="./"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="user-info">
                <div class="user-wrap"><a href="admin/perfil-usuario.html"><img src="img/iconos/easy_insurance-usuario.svg"></a><a href="admin/perfil-usuario.html">
                    <h3 class="user-name">Uriel</h3></a>
                  <p class="center"><a href="login.html"> <span>cerrar sesión</span></a></p>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <div class="admin-wrapper">
            <div class="container">
              <div class="menu-container">
                <div class="inner">
                  <ul class="main-menu">
                    <li><a href="#"><span class="reportes">Reportes</span></a></li>
                    <li class="has-submenu"><a href="#"><span class="usuarios">Usuarios</span></a>
                      <ul class="sub-menu">
                        <li> <a href="administrador-principal.html">Ver todos</a></li>
                        <li> <a href="#">Agregar nuevo</a></li>
                      </ul>
                    </li>
                    <li><a href="#"><span class="polizas">Pólizas</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="content">
                <div class="inner">
                  <div class="top-bar">
                    <div class="container">
                      <h1 class="title">Nuevo Usuario</h1>
                      <div class="buscar">
                        <label>
                          <input type="text" placeholder="Buscar ...">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="half-separator"></div>
                  <div class="form-container agregar-usuario">
                    <div class="inner-container">
                      <form class="form-admin" id="nuevo-usuario">
                        <h2>Datos Generales</h2>
                        <div class="row">
                          <div class="input12">
                            <label>Nombre</label>
                            <input type="text" name="name" required>
                          </div>
                          <div class="input12">
                            <label>Apellidos</label>
                            <input type="text" name="lastName" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input12">
                            <label>Correo electrónico</label>
                            <input type="email" name="email" id="email" required>
                          </div>
                          <div class="input12">
                            <label>Confirmar correo electrónico</label>
                            <input type="email" name="confirmEmail" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input12">
                            <label>Contraseña</label>
                            <input type="password" name="password" id="password1" required>
                          </div>
                          <div class="input12">
                            <label>Confirmar contraseña</label>
                            <input type="password" name="confirmPassword" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input12">
                            <label>Tipo usuario</label>
                            <select>
                              <option selected hidden>- Seleccionar -</option>
                            </select>
                          </div>
                          <div class="input12">
                            <label>Fecha Nacimiento (DD/MM/AAA)</label>
                            <input type="text" name="dateBirth" id="date-birth" required>
                          </div>
                        </div>
                        <div class="half-separator"></div>
                        <h2>Dirección</h2>
                        <div class="input row-inline direccion">
                          <div class="input">
                            <label>Calle</label>
                            <input type="text" name="streetAddress" required>
                          </div>
                          <div class="input">
                            <label>Número ext-int</label>
                            <input type="number" name="numberAddress" required>
                          </div>
                          <div class="input">
                            <label>Código Postal</label>
                            <input type="number" name="zipCode" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input12">
                            <label>Colonia</label>
                            <input type="text" name="neighborhood">
                          </div>
                          <div class="input12">
                            <label>Delegación</label>
                            <input type="text" name="town">
                          </div>
                        </div>
                        <div class="row">
                          <div class="input12">
                            <label>Ciudad</label>
                            <input type="text" name="city">
                          </div>
                          <div class="input12">
                            <label>Estado</label>
                            <input type="text" name="state">
                          </div>
                        </div>
                        <div class="half-separator"></div>
                        <h2>Datos Personales</h2>
                        <div class="row">
                          <div class="input12">
                            <label>Teléfono</label>
                            <input type="text" name="telephone" required>
                          </div>
                          <div class="input12">
                            <label>RFC</label>
                            <input type="text" name="rfc">
                          </div>
                        </div>
                        <div class="row">
                          <div class="input12">
                            <label>CURP</label>
                            <input type="text" name="curp">
                          </div>
                          <div class="input12 right">
                            <input class="btn-orange" type="submit" value="Agregar usuario">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="#">Aviso de privacidad</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script>
        $('.has-submenu > a').click(function(e){
        	e.preventDefault();
        	$(this).next('.sub-menu').fadeToggle();
        });
      </script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
        $('#nuevo-usuario').validate({
        	rules: {
        
        		confirmEmail:{
        			required: true,
        			email: true,
        			equalTo: "#email"
        		},
        		confirmPassword:{
        			required: true,
        			equalTo: "#password1"
        		}
        	},
        	messages: {
        		email:{
        			email: "Formato: tunombre@domain.com"
        		},
        		confirmEmail: {
        			equalTo: "El email no coincide.",
        			email: "Formato: tunombre@domain.com"
        		},
        		confirmPassword: {
        			equalTo: "Las contraseñas no coinciden."
        		}
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        });
      </script>
      <script>
        $( "#date-birth" ).datepicker({
        	changeMonth: true,
        	changeYear: true
        });
      </script>
    </div>
  </body>
</html>
