app/pug/aviso-de-privacidad.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Aviso de privacidad
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="cotizar.html" ) Cotizar
block content
	.avisos-container.background-gray
		.header-container
			.imgCenter
				img(src="img/header-servicios_easy_insurance.jpg")
			.title-container
				h1 
					span Aviso de privacidad
		.content.background-gray
			.padded
				.half-separator
				p.left Easy Insurance SA de CV, en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de Particulares, informa los términos y condiciones siguientes:
				.half-separator
				h3 I. Responsable de preservar y garantizar la con dencialidad y seguridad de Datos Personales
				p.left Consultoría Asociada en Beneficios, Agente de Seguros y de Fianzas, (en lo sucesivo CABSA Seguros), con domicilio en calle Coahuila 721 Sur, Colonia Centro, C.P. 85000 en Ciudad Obregón, Sonora, México, quien evitará su alteración, pérdida o acceso por terceros no autorizados.
				.half-separator
				h3 II. Datos Personales que pueden recabarse
				p.left CABSA Seguros recabara Datos Personales necesarios para cumplir con la adecuada prestación de sus servicios, ya sea directa o personalmente a través de sus promotores, asesores, socios productores y comisionistas.<br>Los Datos Personales podrán incluir todo o alguno de los siguientes:
				ul.terminos-y-condiciones
					li Datos de Identificación: nombre completo, dirección, teléfono de casa u oficina, celular, estado civil, sexo, lugar y fecha de nacimiento, edad, identificación oficial vigente, registro federal de contribuyentes (RFC), clave única de registro de población (CURP) y correo electrónico.
					li Datos Laborales: ocupación, dirección del centro de trabajo, teléfono del centro de trabajo, fecha de ingreso al servicio, nivel del centro de trabajo, nombre del secretario general o representante del centro de trabajo, códigos de ubicación escolar y actividades productivas adicionales.
					li Datos de Salud: padecimientos u enfermedades actuales, estatura, peso, tipo de sangre, hábitos de salud como deportes o aficiones practicados, antecedentes de salud familiar, antecedentes penales. Y otros como huella, foto, firma digital, antecedentes penales, etc. Los datos Personales recabados serán tratados bajo estrictas medidas de seguridad, siempre garantizando su confidencialidad.
				.half-separator
				h3 III. Finalidades de la Información
				p.left Los Datos Personales que CABSA Seguros recabe serán utilizados para analizar los riesgos y circunstancias que formalizan los contratos de productos y servicios que dan origen a la relación entre CABSA Seguros y usted como titular de los Datos Personales. Los Datos Personales recabados serán utilizados para las siguientes actividades:
				ul.terminos-y-condiciones
					li Cotización de algún tipo de seguro de los ramos de vida, gastos médicos, daños, automóviles, entre otros.
					li La emisión de las pólizas subsecuente a la aceptación de la cotización presentada.
					li Resolución de eventos como reclamaciones de siniestros.
					li Contactarlo para gestionar la cobranza de productos o servicios adquiridos.
					li Realizar consultas, investigaciones y revisiones en relación a sus quejas o reclamaciones.
					li Enviar publicidad y ofertas de cualquier otro de nuestros productos o servicios.
					li Enviar encuestas para evaluar la calidad de nuestros productos y servicios.
					li La realización de cualquier actividad complementaria y adicional para la prestación de nuestros servicios.
				.half-separator
				h3 IV. Transferencia de Datos
				p.left Easy Insurance  podrá transferir sus Datos Personales a terceros para cumplir los acuerdos de servicios ofertados, comprometiéndose a respetar en todo momento por nosotros y los terceros el presente Aviso de Privacidad. CABSA Seguros se cerciorara de que los terceros hayan emitido igualmente su correspondiente Aviso de Privacidad, cumpliendo así con la Ley Federal de Protección de Datos Personales en Posesión de Particulares.<br>Los Datos Personales podrán ser transferidos a:
				ul.terminos-y-condiciones
					li Las empresas e instituciones pertenecientes a Grupo CABSA.
					li Socios comerciales como compañías aseguradoras, Grupo Nacional Provincial SAB de CV, Axa Seguros SA de CV, Aba Seguros SA de CV, HDI Seguros SA de CV, Quálitas Compañía de Seguros SAB de CV , Mapfre Tepeyac SA, entre otras.
				br
				p.left Todos los terceros mencionados pueden participar dentro de la cadena y proceso bajo los cuales CABSA Seguros brinda los servicios ofertados y que son necesarios para los procesos de cotización, emisión de pólizas y resolución en la atención de siniestros.
				.half-separator
				h3 V. Limitaciones en el uso y divulgación de sus Datos Personales
				p.left Usted tiene el derecho de acceder a sus Datos Personales que poseemos y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos o bien cancelar su uso a través del formulario de Acceso, Rectificación, Cancelación u Oposición (ARCO), solicitándolo en la siguiente dirección de correo electrónico contacto@easyinsurance.mx donde se les informarán los procedimientos a seguir.
				.half-separator
				h3 VI. Solicitud de ejercicio de derecho ARCO
				p.left Consultoría Asociada en Beneficios, Agente de Seguros y de Fianzas, S.A. de C.V. con domicilio en Coahuila 721 Sur, Col Centro, C.P. 85000, en Ciudad Obregón, Sonora; hace de su conocimiento que de conformidad con lo establecido en el Capítulo IV de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, usted tiene derecho ejercer en cualquier momento sus derechos de acceso, rectificación, cancelación y oposición de sus datos personales directamente con la empresa. (Derechos ARCO).
				br
				p.left De igual manera le informamos que para poder ejercer cualquiera de sus Derechos ARCO, es indispensable que la persona solicitante sea el Titular de los Datos, por lo que deberá ser acreditada la identidad con una identificación oficial vigente y en caso de ser representante legal, con un documento acreditativo de la representación del interesado, adicional a una identificación oficial vigente.<br>A continuación se enlista cada uno de los Derechos ARCO con su definición:
				ul.terminos-y-condiciones
					li Derecho de Acceso: Derecho del Titular a solicitar a la Empresa que le sea informado si en sus bases de datos cuenta coninformación alguna de sus datos personales.
					li Derecho de Rectificación: Derecho del Titular a solicitar a la Empresa que corrija los datos personales que posee en sus bases, cuando estos sean incorrectos, imprecisos, incompletos o estén desactualizados. (Deberá exhibir y proporcionar copia simple del documento).
					li Derecho de Cancelación: Derecho del Titular de solicitar a la Empresa la cancelación de sus datos personales que posea en sus bases. (Deberá especificar los datos que se requiere que sean cancelados). Este derecho quedara sujeto a lo establecido en el Artículo 140 de la Ley General de Instituciones y Sociedades Mutualistas de Seguros.
					li Derecho de Oposición: Derecho del Titular para solicitar a la Empresa que es poseedora de sus datos personales en sus bases que se abstenga del tratamiento de sus datos en determinadas situaciones. (Deberá especificar las razones por las cuales seopone al tratamiento).
				.half-separator
				h3 VII. Modificaciones al Aviso de Privacidad
				p.left Nos reservamos el derecho de efectuar en cualquier momento cambios o modificaciones al presente Aviso de Privacidad, con intención de cumplir con las actualizaciones a la propia ley. Los cambios y modificaciones estarán disponibles a través de los siguientes medios: Anuncios en nuestras oficinas, en nuestra páginas de internet, a través de nuestro personal que recabe sus Datos Personales y a través del envio a su último correo electrónico proporcionado.

dist/aviso-de-privacidad.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <!--base(href="http://easy-insurance.opuntialabs.com/" target="_self")-->
    <title>Easy Insurance | Aviso de privacidad</title>
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="top-header">
              <div class="container">
                <div class="social-media">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="login.html"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="wrap-header">
              <div class="logo"><a href="/"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="menu-bars"><span></span><span> </span><span></span></div>
              <div class="menu">
                <ul>
                  <li><a href="./">Inicio</a></li>
                  <li><a href="servicios.html">Servicios</a></li>
                  <li><a href="nosotros.html">Nosotros</a></li>
                  <li><a href="../#aseguradoras">Aseguradoras</a></li>
                  <li><a href="#contacto">Contacto</a></li>
                  <li><a href="cotizar.html">Cotizar</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <div class="avisos-container background-gray">
            <div class="header-container">
              <div class="imgCenter"><img src="img/header-servicios_easy_insurance.jpg"></div>
              <div class="title-container">
                <h1> <span>Aviso de privacidad</span></h1>
              </div>
            </div>
            <div class="content background-gray">
              <div class="padded">
                <div class="half-separator"></div>
                <p class="left">Easy Insurance SA de CV, en cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de Particulares, informa los términos y condiciones siguientes:</p>
                <div class="half-separator"></div>
                <h3>I. Responsable de preservar y garantizar la con dencialidad y seguridad de Datos Personales</h3>
                <p class="left">Consultoría Asociada en Beneficios, Agente de Seguros y de Fianzas, (en lo sucesivo CABSA Seguros), con domicilio en calle Coahuila 721 Sur, Colonia Centro, C.P. 85000 en Ciudad Obregón, Sonora, México, quien evitará su alteración, pérdida o acceso por terceros no autorizados.</p>
                <div class="half-separator"></div>
                <h3>II. Datos Personales que pueden recabarse</h3>
                <p class="left">CABSA Seguros recabara Datos Personales necesarios para cumplir con la adecuada prestación de sus servicios, ya sea directa o personalmente a través de sus promotores, asesores, socios productores y comisionistas.<br>Los Datos Personales podrán incluir todo o alguno de los siguientes:</p>
                <ul class="terminos-y-condiciones">
                  <li>Datos de Identificación: nombre completo, dirección, teléfono de casa u oficina, celular, estado civil, sexo, lugar y fecha de nacimiento, edad, identificación oficial vigente, registro federal de contribuyentes (RFC), clave única de registro de población (CURP) y correo electrónico.</li>
                  <li>Datos Laborales: ocupación, dirección del centro de trabajo, teléfono del centro de trabajo, fecha de ingreso al servicio, nivel del centro de trabajo, nombre del secretario general o representante del centro de trabajo, códigos de ubicación escolar y actividades productivas adicionales.</li>
                  <li>Datos de Salud: padecimientos u enfermedades actuales, estatura, peso, tipo de sangre, hábitos de salud como deportes o aficiones practicados, antecedentes de salud familiar, antecedentes penales. Y otros como huella, foto, firma digital, antecedentes penales, etc. Los datos Personales recabados serán tratados bajo estrictas medidas de seguridad, siempre garantizando su confidencialidad.</li>
                </ul>
                <div class="half-separator"></div>
                <h3>III. Finalidades de la Información</h3>
                <p class="left">Los Datos Personales que CABSA Seguros recabe serán utilizados para analizar los riesgos y circunstancias que formalizan los contratos de productos y servicios que dan origen a la relación entre CABSA Seguros y usted como titular de los Datos Personales. Los Datos Personales recabados serán utilizados para las siguientes actividades:</p>
                <ul class="terminos-y-condiciones">
                  <li>Cotización de algún tipo de seguro de los ramos de vida, gastos médicos, daños, automóviles, entre otros.</li>
                  <li>La emisión de las pólizas subsecuente a la aceptación de la cotización presentada.</li>
                  <li>Resolución de eventos como reclamaciones de siniestros.</li>
                  <li>Contactarlo para gestionar la cobranza de productos o servicios adquiridos.</li>
                  <li>Realizar consultas, investigaciones y revisiones en relación a sus quejas o reclamaciones.</li>
                  <li>Enviar publicidad y ofertas de cualquier otro de nuestros productos o servicios.</li>
                  <li>Enviar encuestas para evaluar la calidad de nuestros productos y servicios.</li>
                  <li>La realización de cualquier actividad complementaria y adicional para la prestación de nuestros servicios.</li>
                </ul>
                <div class="half-separator"></div>
                <h3>IV. Transferencia de Datos</h3>
                <p class="left">Easy Insurance  podrá transferir sus Datos Personales a terceros para cumplir los acuerdos de servicios ofertados, comprometiéndose a respetar en todo momento por nosotros y los terceros el presente Aviso de Privacidad. CABSA Seguros se cerciorara de que los terceros hayan emitido igualmente su correspondiente Aviso de Privacidad, cumpliendo así con la Ley Federal de Protección de Datos Personales en Posesión de Particulares.<br>Los Datos Personales podrán ser transferidos a:</p>
                <ul class="terminos-y-condiciones">
                  <li>Las empresas e instituciones pertenecientes a Grupo CABSA.</li>
                  <li>Socios comerciales como compañías aseguradoras, Grupo Nacional Provincial SAB de CV, Axa Seguros SA de CV, Aba Seguros SA de CV, HDI Seguros SA de CV, Quálitas Compañía de Seguros SAB de CV , Mapfre Tepeyac SA, entre otras.</li>
                </ul><br>
                <p class="left">Todos los terceros mencionados pueden participar dentro de la cadena y proceso bajo los cuales CABSA Seguros brinda los servicios ofertados y que son necesarios para los procesos de cotización, emisión de pólizas y resolución en la atención de siniestros.</p>
                <div class="half-separator"></div>
                <h3>V. Limitaciones en el uso y divulgación de sus Datos Personales</h3>
                <p class="left">Usted tiene el derecho de acceder a sus Datos Personales que poseemos y a los detalles del tratamiento de los mismos, así como a rectificarlos en caso de ser inexactos o bien cancelar su uso a través del formulario de Acceso, Rectificación, Cancelación u Oposición (ARCO), solicitándolo en la siguiente dirección de correo electrónico contacto@easyinsurance.mx donde se les informarán los procedimientos a seguir.</p>
                <div class="half-separator"></div>
                <h3>VI. Solicitud de ejercicio de derecho ARCO</h3>
                <p class="left">Consultoría Asociada en Beneficios, Agente de Seguros y de Fianzas, S.A. de C.V. con domicilio en Coahuila 721 Sur, Col Centro, C.P. 85000, en Ciudad Obregón, Sonora; hace de su conocimiento que de conformidad con lo establecido en el Capítulo IV de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, usted tiene derecho ejercer en cualquier momento sus derechos de acceso, rectificación, cancelación y oposición de sus datos personales directamente con la empresa. (Derechos ARCO).</p><br>
                <p class="left">De igual manera le informamos que para poder ejercer cualquiera de sus Derechos ARCO, es indispensable que la persona solicitante sea el Titular de los Datos, por lo que deberá ser acreditada la identidad con una identificación oficial vigente y en caso de ser representante legal, con un documento acreditativo de la representación del interesado, adicional a una identificación oficial vigente.<br>A continuación se enlista cada uno de los Derechos ARCO con su definición:</p>
                <ul class="terminos-y-condiciones">
                  <li>Derecho de Acceso: Derecho del Titular a solicitar a la Empresa que le sea informado si en sus bases de datos cuenta coninformación alguna de sus datos personales.</li>
                  <li>Derecho de Rectificación: Derecho del Titular a solicitar a la Empresa que corrija los datos personales que posee en sus bases, cuando estos sean incorrectos, imprecisos, incompletos o estén desactualizados. (Deberá exhibir y proporcionar copia simple del documento).</li>
                  <li>Derecho de Cancelación: Derecho del Titular de solicitar a la Empresa la cancelación de sus datos personales que posea en sus bases. (Deberá especificar los datos que se requiere que sean cancelados). Este derecho quedara sujeto a lo establecido en el Artículo 140 de la Ley General de Instituciones y Sociedades Mutualistas de Seguros.</li>
                  <li>Derecho de Oposición: Derecho del Titular para solicitar a la Empresa que es poseedora de sus datos personales en sus bases que se abstenga del tratamiento de sus datos en determinadas situaciones. (Deberá especificar las razones por las cuales seopone al tratamiento).</li>
                </ul>
                <div class="half-separator"></div>
                <h3>VII. Modificaciones al Aviso de Privacidad</h3>
                <p class="left">Nos reservamos el derecho de efectuar en cualquier momento cambios o modificaciones al presente Aviso de Privacidad, con intención de cumplir con las actualizaciones a la propia ley. Los cambios y modificaciones estarán disponibles a través de los siguientes medios: Anuncios en nuestras oficinas, en nuestra páginas de internet, a través de nuestro personal que recabe sus Datos Personales y a través del envio a su último correo electrónico proporcionado.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-wrapper" id="contacto">
        <div class="recupera-tu-poliza" style="display:none;">
          <div class="inner">
            <div class="close-recupera-poliza"><i class="fa fa-times"></i></div>
            <h3>Ingresa tus datos</h3>
            <form id="solicitar-poliza">
              <label>Correo electrónico</label>
              <input type="email" required name="email">
              <label>Selecciona tu vehículo</label>
              <select>
                <option selected hidden>- Seleccionar -</option>
                <option>Jeep Patriot 2010</option>
              </select>
              <input type="submit" value="Solicitar">
            </form>
          </div>
        </div>
        <div class="inner padded">
          <div class="row-inline">
            <div class="col12">
              <h2 class="title center white">Revisa tu Póliza</h2>
              <div class="half-separator"></div>
              <div class="imgCenter"><img class="revisa-tu-poliza" src="img/cotiza_tu_poliza.svg"></div>
              <div class="center"><br><a class="btn-white" href="#" id="mostrar-poliza">Aquí</a></div>
            </div>
            <div class="col12">
              <div class="row-equal row-form">
                <div class="form-container">
                  <h2 class="title left white">Contáctanos</h2>
                  <form class="contacto-white" id="formulario-contacto">
                    <input type="text" placeholder="Nombre" name="name" required>
                    <input type="email" placeholder="Correo" name="email" required>
                    <textarea placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar">
                  </form>
                </div>
                <div class="ubicacion-container">
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-ubicacion.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-mail.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-phone.svg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="aviso-de-privacidad.html">Aviso de privacidad</a></li>
              <li><a href="terminos-y-condiciones.html">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/aos.js"></script>
      <script type="text/javascript" src="js/underscore-min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script>
        $('#formulario-contacto').validate({
        	rules: {
        		name: "required",
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		name: "Escribe tu nombre.",
        		email: {
        			required: "Necesitamos un email para contactarte.",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        $('#solicitar-poliza').validate({
        	rules: {
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		email: {
        			required: "Necesitamos un email para mostrar tus vehículos",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        });
      </script>
      <script>
        AOS.init();
        $('.menu-bars').click(function(){
        	$(this).toggleClass('active');
        	$('.menu').fadeToggle();
        });
        $('.recupera-tu-poliza').hide();
        $('#mostrar-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
        $('.close-recupera-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
      </script>
    </div>
  </body>
</html>
