app/pug/conductor.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Conductor
	link(rel="stylesheet" href="css/styles-admin.css")
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="#" class="active") Cotizar
block content
	section.conductor
		.wrapper
			.inner
				.steps-container.row-inline
					.step.cotizar
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							
					.step.conductor.active
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
							.triangle 
					.step.emitir
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
				.padded.background-gray
					h1.center.title.lines
						span Datos del conductor
					.imgCenter
						img(src="img/iconos/easy_insurance-usuario.svg" class="conductor-icon")
					.half-separator
					form.cotizador#datos-conductor(method="GET" action="emitir.html")
						.container
							.row-equal
								.col12
									label Nombre:
									input(type="text" required name="nombre")
								.col12
										label Apellidos:
										input(type="text" required name="apellidos")
								.col
									label Dirección:
									input(type="text" required name="direccion")
								.col13
									label Celular:
									input(type="number" required name="celular")
								.col13
									label Correo electrónico:
									input(type="email" required name="email")
								.col13
									label Nacionalidad: 
									input(type="text" required name="nacionalidad")
						.half-separator
						.row.controls
							.atras
								a.btn-orange.back(href="cotizaciones.html") < Regresar
							.continuar
								input(type="submit" value="Continuar >")
						.half-separator
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script.
		$('#datos-conductor').validate({
			rules: {
				name: "required",
				email: {
					required: true,
					email: true
				}
			},
			messages: {
				name: "Escribe tu nombre.",
				email: {
					required: "Necesitamos un email para contactarte.",
					email: "Formato: tunombre@domain.com"
				}
			}
		});
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
			maxlength: jQuery.validator.format("Maximo {0} caracteres"),
			minlength: jQuery.validator.format("Al menos {0} caracteres"),
			max: jQuery.validator.format("Valor máximo {0}"),
			min: jQuery.validator.format("Valor mínimo {0}"),
		});

dist/admin/conductor.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles-admin.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <base href="http://easy-insurance.opuntialabs.com/" target="_self">
    <title>Easy Insurance | Conductor</title>
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="wrap-header">
              <div class="logo"><a href="./"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="user-info">
                <div class="user-wrap"><a href="admin/perfil-usuario.html"><img src="img/iconos/easy_insurance-usuario.svg"></a><a href="admin/perfil-usuario.html">
                    <h3 class="user-name">Uriel</h3></a>
                  <p class="center"><a href="login.html"> <span>cerrar sesión</span></a></p>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <section class="conductor">
            <div class="wrapper">
              <div class="inner">
                <div class="steps-container row-inline">
                  <div class="step cotizar">
                    <div class="imgCenter"><img src="img/easy_insurance-cotiza_tu_vehiculo.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Cotizar</span></div>
                    </div>
                  </div>
                  <div class="step conductor active">
                    <div class="imgCenter"><img src="img/easy_insurance-datos_del_conductor.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Conductor</span></div>
                      <div class="triangle"> </div>
                    </div>
                  </div>
                  <div class="step emitir">
                    <div class="imgCenter"><img src="img/easy_insurance-emite_tu_poliza.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Emitir</span></div>
                    </div>
                  </div>
                </div>
                <div class="padded background-gray">
                  <h1 class="center title lines"><span>Datos del conductor</span></h1>
                  <div class="imgCenter"><img class="conductor-icon" src="img/iconos/easy_insurance-usuario.svg"></div>
                  <div class="half-separator"></div>
                  <form class="cotizador" id="datos-conductor" method="GET" action="admin/emitir.html">
                    <div class="container">
                      <div class="row-equal">
                        <div class="col12">
                          <label>Nombre:</label>
                          <input type="text" required name="nombre">
                        </div>
                        <div class="col12">
                          <label>Apellidos:</label>
                          <input type="text" required name="apellidos">
                        </div>
                        <div class="col">
                          <label>Dirección:</label>
                          <input type="text" required name="direccion">
                        </div>
                        <div class="col13">
                          <label>Celular:</label>
                          <input type="number" required name="celular">
                        </div>
                        <div class="col13">
                          <label>Correo electrónico:</label>
                          <input type="email" required name="email">
                        </div>
                        <div class="col13">
                          <label>Nacionalidad: </label>
                          <input type="text" required name="nacionalidad">
                        </div>
                      </div>
                    </div>
                    <div class="half-separator"></div>
                    <div class="row controls">
                      <div class="atras"><a class="btn-orange back" href="cotizaciones.html">< Regresar</a></div>
                      <div class="continuar">
                        <input type="submit" value="Continuar &gt;">
                      </div>
                    </div>
                    <div class="half-separator"></div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="#">Aviso de privacidad</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script>
        $('.has-submenu > a').click(function(e){
        	e.preventDefault();
        	$(this).next('.sub-menu').fadeToggle();
        });
      </script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script>
        $('#datos-conductor').validate({
        	rules: {
        		name: "required",
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		name: "Escribe tu nombre.",
        		email: {
        			required: "Necesitamos un email para contactarte.",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        	maxlength: jQuery.validator.format("Maximo {0} caracteres"),
        	minlength: jQuery.validator.format("Al menos {0} caracteres"),
        	max: jQuery.validator.format("Valor máximo {0}"),
        	min: jQuery.validator.format("Valor mínimo {0}"),
        });
      </script>
    </div>
  </body>
</html>
