app/pug/cotizaciones.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Cotizar
	link(rel="stylesheet" href="css/styles-admin.css")
block content
	.cargando-container
		.imgCenter
			img(src="img/iconos/cargando.svg")
		h3.center.title.orange Cotizando el mejor seguro
	section.cotizaciones
		.wrapper
			.inner
				.steps-container.row-inline
					.step.cotizar.active
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							.triangle
					.step.conductor
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
					.step.emitir
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
				.content
					.datos-vehiculo
						.wrapper
							.marca
								h3 Marca
								p Jeep
							.submarca
								h3 Submarca
								p Patriot
							.anio
								h3 Año
								p 2010
							.codigo-postal
								h3 Código Postal
								p 44510
							.descripcion
								h3 Descripción
								p JEEP LIBERTY LIMITED 4X2 AUT., 05 OCUP.
						.ocultar-descripcion
							i(class="fa fa-angle-up" aria-hidden="true" id="ocultar-descripcion")
					.personaliza-tu-seguro
						.wrapper
							h1 Personaliza tu seguro
							.half-separator
							form.datos-seguro
								.wrapper
									.cobertura
										label Cobertura: 
										select.line(name="cobertura" id="cobertura")
											option(selected value="Amplia") Amplia
											option(value="Limitada") Limitada
											option(value="RC") RC
											option(value="uber") Uber
									.uso
										label Uso: 
										select.line(name="uso" id="uso")
											option(selected value="particular") Particular
									.forma-pago
										label Forma de pago: 
										select.line(name="pago" id="pago")
											option(selected value="anual") Anual
									.enviar
										input(type="submit" value="Recotizar")
					.cotizaciones-obtenidas
						.wrapper
							.ordenar
								h2 Cotizaciones
								.filtro
									label Ordenar por:
									select.line(name="filtrar" id="filtrar")
										option(selected hidden) Seleccionar
										option(value="precio") Precio
							.half-separator
							.tabla-cotizaciones
								.fila
									.logo.imgCenter
										img(src="img/aseguradoras/gnp-color.svg")
									.precio
										label Precio Original
										span.precio $7,499.00
									.ver-cobertura
										a.btn-orange(href="#") Ver cobertura
									.contratar
										a.btn-orange(href="conductor.html") Contratar
									.detalles-cobertura
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Bienes y Personas
											.descripcion
												.content
													span $1,000,000.00
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Catastrófica
											.descripcion
												.content
													span $2,000,000.00
										.fila
											.nombre
												.content
													span Asistencia Vial y Viajes
											.descripcion
												.content
													span Amparada
										.fila
											.nombre
												.content
													span Defensa Jurídica
											.descripcion
												.content
													span Amparada
										.fila
											.nombre
												.content
													img(src="img/aseguradoras/cnsf.svg" class="logo-add")
											.descripcion
												.content
													span 2º Lugar
										.fila
											.nombre
												.content
													img(src="img/aseguradoras/condusef.svg" class="logo-add")
											.descripcion
												.content
													span 9.7 Servicio
										.fila
											.nombre
												.content
													span.dental Seguro Salud Bucal
											.descripcion
												.content
													span Incluído
								.fila
									.logo.imgCenter
										img(src="img/aseguradoras/qualitas-color.svg")
									.precio
										label Precio Original
										span.precio $7,499.00
									.ver-cobertura
										a.btn-orange(href="#") Ver cobertura
									.contratar
										a.btn-orange(href="conductor.html") Contratar
									.detalles-cobertura
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Bienes y Personas
											.descripcion
												.content
													span $500,000.00
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Catastrófica
											.descripcion
												.content
													span $1,000,000.00
										.fila
											.nombre
												.content
													span Asistencia Vial y Viajes
											.descripcion
												.content
													span No amparada
										.fila
											.nombre
												.content
													span Defensa Jurídica
											.descripcion
												.content
													span Amparada
								.fila
									.logo.imgCenter
										img(src="img/aseguradoras/gnp-color.svg")
									.precio
										label Precio Original
										span.precio $7,499.00
									.ver-cobertura
										a.btn-orange(href="#") Ver cobertura
									.contratar
										a.btn-orange(href="conductor.html") Contratar
									.detalles-cobertura
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Bienes y Personas
											.descripcion
												.content
													span $1,000,000.00
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Catastrófica
											.descripcion
												.content
													span $2,000,000.00
										.fila
											.nombre
												.content
													span Asistencia Vial y Viajes
											.descripcion
												.content
													span Amparada
										.fila
											.nombre
												.content
													span Defensa Jurídica
											.descripcion
												.content
													span Amparada
								.fila
									.logo.imgCenter
										img(src="img/aseguradoras/qualitas-color.svg")
									.precio
										label Precio Original
										span.precio $7,499.00
									.ver-cobertura
										a.btn-orange(href="#") Ver cobertura
									.contratar
										a.btn-orange(href="conductor.html") Contratar
									.detalles-cobertura
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Bienes y Personas
											.descripcion
												.content
													span $1,000,000.00
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Catastrófica
											.descripcion
												.content
													span $2,000,000.00
										.fila
											.nombre
												.content
													span Asistencia Vial y Viajes
											.descripcion
												.content
													span Amparada
										.fila
											.nombre
												.content
													span Defensa Jurídica
											.descripcion
												.content
													span Amparada

							.half-separator
							.padded
								.row.controls
									.atras
										a.btn-orange.back(href="cotizar.html") < Regresar
					
								
block scriptsFooter
	script.
		$('.detalles-cobertura').hide();
		$('#ocultar-descripcion').click(function(){
			$('.datos-vehiculo .wrapper').fadeToggle();
			$('#ocultar-descripcion').toggleClass('fa-angle-down');
			$('.datos-vehiculo').toggleClass('no-padded');
		});
		$('.ver-cobertura a').click(function(e){
			e.preventDefault();
			$(this).parent().parent().toggleClass('active');
			console.log($(this).parent().next().next().fadeToggle());
			if($(this).parent().parent().hasClass('active'))
				$(this).text('Ocultar');
			else
				$(this).text('Ver cobertura');
		});
		$('body').addClass('modal-open');
		setTimeout(function (){
			$('.cargando-container').fadeOut();
			$('body').removeClass('modal-open');
		},2000);

dist/admin/cotizaciones.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles-admin.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <base href="http://easy-insurance.opuntialabs.com/" target="_self">
    <title>Easy Insurance | Cotizar</title>
    <link rel="stylesheet" href="css/styles-admin.css">
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="wrap-header">
              <div class="logo"><a href="./"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="user-info">
                <div class="user-wrap"><a href="admin/perfil-usuario.html"><img src="img/iconos/easy_insurance-usuario.svg"></a><a href="admin/perfil-usuario.html">
                    <h3 class="user-name">Uriel</h3></a>
                  <p class="center"><a href="login.html"> <span>cerrar sesión</span></a></p>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <div class="cargando-container">
            <div class="imgCenter"><img src="img/iconos/cargando.svg"></div>
            <h3 class="center title orange">Cotizando el mejor seguro</h3>
          </div>
          <section class="cotizaciones">
            <div class="wrapper">
              <div class="inner">
                <div class="steps-container row-inline">
                  <div class="step cotizar active">
                    <div class="imgCenter"><img src="img/easy_insurance-cotiza_tu_vehiculo.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Cotizar</span></div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                  <div class="step conductor">
                    <div class="imgCenter"><img src="img/easy_insurance-datos_del_conductor.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Conductor</span></div>
                    </div>
                  </div>
                  <div class="step emitir">
                    <div class="imgCenter"><img src="img/easy_insurance-emite_tu_poliza.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Emitir</span></div>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <div class="datos-vehiculo">
                    <div class="wrapper">
                      <div class="marca">
                        <h3>Marca</h3>
                        <p>Jeep</p>
                      </div>
                      <div class="submarca">
                        <h3>Submarca</h3>
                        <p>Patriot</p>
                      </div>
                      <div class="anio">
                        <h3>Año</h3>
                        <p>2010</p>
                      </div>
                      <div class="codigo-postal">
                        <h3>Código Postal</h3>
                        <p>44510</p>
                      </div>
                      <div class="descripcion">
                        <h3>Descripción</h3>
                        <p>JEEP LIBERTY LIMITED 4X2 AUT., 05 OCUP.</p>
                      </div>
                    </div>
                    <div class="ocultar-descripcion"><i class="fa fa-angle-up" aria-hidden="true" id="ocultar-descripcion"></i></div>
                  </div>
                  <div class="personaliza-tu-seguro">
                    <div class="wrapper">
                      <h1>Personaliza tu seguro</h1>
                      <div class="half-separator"></div>
                      <form class="datos-seguro">
                        <div class="wrapper">
                          <div class="cobertura">
                            <label>Cobertura: </label>
                            <select class="line" name="cobertura" id="cobertura">
                              <option selected value="Amplia">Amplia</option>
                              <option value="Limitada">Limitada</option>
                              <option value="RC">RC</option>
                              <option value="uber">Uber</option>
                            </select>
                          </div>
                          <div class="uso">
                            <label>Uso: </label>
                            <select class="line" name="uso" id="uso">
                              <option selected value="particular">Particular</option>
                            </select>
                          </div>
                          <div class="forma-pago">
                            <label>Forma de pago: </label>
                            <select class="line" name="pago" id="pago">
                              <option selected value="anual">Anual</option>
                            </select>
                          </div>
                          <div class="enviar">
                            <input type="submit" value="Recotizar">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="cotizaciones-obtenidas">
                    <div class="wrapper">
                      <div class="ordenar">
                        <h2>Cotizaciones</h2>
                        <div class="filtro">
                          <label>Ordenar por:</label>
                          <select class="line" name="filtrar" id="filtrar">
                            <option selected hidden>Seleccionar</option>
                            <option value="precio">Precio</option>
                          </select>
                        </div>
                      </div>
                      <div class="half-separator"></div>
                      <div class="tabla-cotizaciones">
                        <div class="fila">
                          <div class="logo imgCenter"><img src="img/aseguradoras/gnp-color.svg"></div>
                          <div class="precio">
                            <label>Precio Original</label><span class="precio">$7,499.00</span>
                          </div>
                          <div class="ver-cobertura"><a class="btn-orange" href="#">Ver cobertura</a></div>
                          <div class="contratar"><a class="btn-orange" href="conductor.html">Contratar</a></div>
                          <div class="detalles-cobertura">
                            <div class="fila">
                              <div class="nombre">
                                <div class="content">
                                  <label>Responsabilidad Civil</label><span>Bienes y Personas</span>
                                </div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>$1,000,000.00</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content">
                                  <label>Responsabilidad Civil</label><span>Catastrófica</span>
                                </div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>$2,000,000.00</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><span>Asistencia Vial y Viajes</span></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>Amparada</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><span>Defensa Jurídica</span></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>Amparada</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><img class="logo-add" src="img/aseguradoras/cnsf.svg"></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>2º Lugar</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><img class="logo-add" src="img/aseguradoras/condusef.svg"></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>9.7 Servicio</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><span class="dental">Seguro Salud Bucal</span></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>Incluído</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="fila">
                          <div class="logo imgCenter"><img src="img/aseguradoras/qualitas-color.svg"></div>
                          <div class="precio">
                            <label>Precio Original</label><span class="precio">$7,499.00</span>
                          </div>
                          <div class="ver-cobertura"><a class="btn-orange" href="#">Ver cobertura</a></div>
                          <div class="contratar"><a class="btn-orange" href="conductor.html">Contratar</a></div>
                          <div class="detalles-cobertura">
                            <div class="fila">
                              <div class="nombre">
                                <div class="content">
                                  <label>Responsabilidad Civil</label><span>Bienes y Personas</span>
                                </div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>$500,000.00</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content">
                                  <label>Responsabilidad Civil</label><span>Catastrófica</span>
                                </div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>$1,000,000.00</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><span>Asistencia Vial y Viajes</span></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>No amparada</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><span>Defensa Jurídica</span></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>Amparada</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="fila">
                          <div class="logo imgCenter"><img src="img/aseguradoras/gnp-color.svg"></div>
                          <div class="precio">
                            <label>Precio Original</label><span class="precio">$7,499.00</span>
                          </div>
                          <div class="ver-cobertura"><a class="btn-orange" href="#">Ver cobertura</a></div>
                          <div class="contratar"><a class="btn-orange" href="conductor.html">Contratar</a></div>
                          <div class="detalles-cobertura">
                            <div class="fila">
                              <div class="nombre">
                                <div class="content">
                                  <label>Responsabilidad Civil</label><span>Bienes y Personas</span>
                                </div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>$1,000,000.00</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content">
                                  <label>Responsabilidad Civil</label><span>Catastrófica</span>
                                </div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>$2,000,000.00</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><span>Asistencia Vial y Viajes</span></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>Amparada</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><span>Defensa Jurídica</span></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>Amparada</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="fila">
                          <div class="logo imgCenter"><img src="img/aseguradoras/qualitas-color.svg"></div>
                          <div class="precio">
                            <label>Precio Original</label><span class="precio">$7,499.00</span>
                          </div>
                          <div class="ver-cobertura"><a class="btn-orange" href="#">Ver cobertura</a></div>
                          <div class="contratar"><a class="btn-orange" href="conductor.html">Contratar</a></div>
                          <div class="detalles-cobertura">
                            <div class="fila">
                              <div class="nombre">
                                <div class="content">
                                  <label>Responsabilidad Civil</label><span>Bienes y Personas</span>
                                </div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>$1,000,000.00</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content">
                                  <label>Responsabilidad Civil</label><span>Catastrófica</span>
                                </div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>$2,000,000.00</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><span>Asistencia Vial y Viajes</span></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>Amparada</span></div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="nombre">
                                <div class="content"><span>Defensa Jurídica</span></div>
                              </div>
                              <div class="descripcion">
                                <div class="content"><span>Amparada</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="half-separator"></div>
                      <div class="padded">
                        <div class="row controls">
                          <div class="atras"><a class="btn-orange back" href="cotizar.html">< Regresar</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="#">Aviso de privacidad</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script>
        $('.has-submenu > a').click(function(e){
        	e.preventDefault();
        	$(this).next('.sub-menu').fadeToggle();
        });
      </script>
      <script>
        $('.detalles-cobertura').hide();
        $('#ocultar-descripcion').click(function(){
        	$('.datos-vehiculo .wrapper').fadeToggle();
        	$('#ocultar-descripcion').toggleClass('fa-angle-down');
        	$('.datos-vehiculo').toggleClass('no-padded');
        });
        $('.ver-cobertura a').click(function(e){
        	e.preventDefault();
        	$(this).parent().parent().toggleClass('active');
        	console.log($(this).parent().next().next().fadeToggle());
        	if($(this).parent().parent().hasClass('active'))
        		$(this).text('Ocultar');
        	else
        		$(this).text('Ver cobertura');
        });
        $('body').addClass('modal-open');
        setTimeout(function (){
        	$('.cargando-container').fadeOut();
        	$('body').removeClass('modal-open');
        },2000);
      </script>
    </div>
  </body>
</html>
