dist/admin/cotizar.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles-admin.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <base href="http://easy-insurance.opuntialabs.com/" target="_self">
    <title>Easy Insurance | Cotizar</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="wrap-header">
              <div class="logo"><a href="./"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="user-info">
                <div class="user-wrap"><a href="admin/perfil-usuario.html"><img src="img/iconos/easy_insurance-usuario.svg"></a><a href="admin/perfil-usuario.html">
                    <h3 class="user-name">Uriel</h3></a>
                  <p class="center"><a href="login.html"> <span>cerrar sesión</span></a></p>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <section class="cotizar">
            <div class="wrapper">
              <div class="inner">
                <div class="steps-container row-inline">
                  <div class="step cotizar active">
                    <div class="imgCenter"><img src="img/easy_insurance-cotiza_tu_vehiculo.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Cotizar</span></div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                  <div class="step conductor">
                    <div class="imgCenter"><img src="img/easy_insurance-datos_del_conductor.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Conductor</span></div>
                    </div>
                  </div>
                  <div class="step emitir">
                    <div class="imgCenter"><img src="img/easy_insurance-emite_tu_poliza.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Emitir</span></div>
                    </div>
                  </div>
                </div>
                <div class="content background-gray">
                  <div class="half-separator"></div>
                  <form class="cotizador" id="datosGenerales" method="POST" action="admin/cotizaciones.html">
                    <div class="row-equal datos-vehiculo">
                      <div class="col13">
                        <div class="half-separator"></div>
                        <h1 class="center"><span class="rwd-line">Datos Generales</span><span class="rwd-line">del vehículo</span></h1>
                      </div>
                      <div class="col13">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/sexo.svg"></div>
                          <h3 class="center"><span>sexo</span></h3>
                          <div class="input center">
                            <select name="sexo" required>
                              <option selected hidden value="">- Seleccionar -</option>
                              <option value="Masculino">Masculino</option>
                              <option value="Femenino">Femenino</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col13">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/fecha_nacimiento.svg"></div>
                          <h3 class="center"><span>Fecha de nacimiento</span></h3>
                          <div class="input center">
                            <input type="text" name="nacimiento" placeholder="DD-MM-AAA" required id="fecha-nacimiento">
                          </div>
                        </div>
                      </div>
                      <div class="col13">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/tipo_auto.svg"></div>
                          <h3 class="center"><span>tipo de auto</span></h3>
                          <div class="input center">
                            <select name="tipo-auto" required>
                              <option selected hidden value="">- Seleccionar -</option>
                              <option value="Ejemplo">Ejemplo</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col13">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/marca.svg"></div>
                          <h3 class="center"><span>marca</span></h3>
                          <div class="input center">
                            <select name="marca" required>
                              <option selected hidden value="">- Seleccionar -</option>
                              <option value="Ejemplo">Ejemplo</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col13">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/anio.svg"></div>
                          <h3 class="center"><span>año</span></h3>
                          <div class="input center">
                            <select name="anio-vehiculo" required>
                              <option selected hidden value="">- Seleccionar -</option>
                              <option value="Ejemplo">Ejemplo</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col13">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/modelo.svg"></div>
                          <h3 class="center"><span>modelo</span></h3>
                          <div class="input center">
                            <select name="modelo" required>
                              <option selected hidden value="">- Seleccionar -</option>
                              <option value="Ejemplo">Ejemplo</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col13">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/version.svg"></div>
                          <h3 class="center"><span>versión</span></h3>
                          <div class="input center">
                            <select name="version" required>
                              <option selected hidden value="">- Seleccionar -</option>
                              <option value="Ejemplo">Ejemplo</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col13">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/codigo_postal.svg"></div>
                          <h3 class="center"><span>código postal</span></h3>
                          <div class="input center">
                            <input type="number" name="codigo_postal" minlength="4" required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="half-separator"></div>
                    <div class="row">
                      <input type="submit" value="Siguiente &gt;">
                    </div>
                    <div class="half-separator"></div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="#">Aviso de privacidad</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script>
        $('.has-submenu > a').click(function(e){
        	e.preventDefault();
        	$(this).next('.sub-menu').fadeToggle();
        });
      </script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
        $('#datosGenerales').validate({
        	rules:{
        		dia:{
        			required: true,
        			max: 31,
        			minlength: 2
        		},
        		mes:{
        			required: true,
        			max: 12,
        			minlength: 2
        		}
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        	maxlength: jQuery.validator.format("Maximo {0} caracteres"),
        	minlength: jQuery.validator.format("Al menos {0} caracteres"),
        	max: jQuery.validator.format("Valor máximo {0}"),
        	min: jQuery.validator.format("Valor mínimo {0}"),
        });
      </script>
      <script>
        $( "#fecha-nacimiento" ).datepicker({
        	changeMonth: true,
        	changeYear: true
        });
      </script>
    </div>
  </body>
</html>

app/pug/cotizar.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Cotizar
	link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
	link(rel="stylesheet" href="css/styles-admin.css")
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="#" class="active") Cotizar
block content
	section.cotizar
		.wrapper
			.inner
				.steps-container.row-inline
					.step.cotizar.active
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							.triangle
					.step.conductor
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
					.step.emitir
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
				.content.background-gray
					.half-separator
					form.cotizador(id="datosGenerales" method="POST" action="cotizaciones.html")
						.row-equal.datos-vehiculo
							.col13
								.half-separator
								h1.center
									span.rwd-line Datos Generales
									span.rwd-line del vehículo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/sexo.svg")
									h3.center
										span sexo
									.input.center
										select(name="sexo" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Masculino") Masculino
											option(value="Femenino") Femenino
							.col13
								.container
									.imgCenter
										img(src="img/iconos/fecha_nacimiento.svg")
									h3.center
										span Fecha de nacimiento
									.input.center
										input(type="text" name="nacimiento" placeholder="DD-MM-AAA" required id="fecha-nacimiento")
							.col13
								.container
									.imgCenter
										img(src="img/iconos/tipo_auto.svg")
									h3.center
										span tipo de auto
									.input.center
										select(name="tipo-auto" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/marca.svg")
									h3.center
										span marca
									.input.center
										select(name="marca" required)
											option(selected hidden value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/anio.svg")
									h3.center
										span año
									.input.center
										select(name="anio-vehiculo" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/modelo.svg")
									h3.center
										span modelo
									.input.center
										select(name="modelo" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/version.svg")
									h3.center
										span versión
									.input.center
										select(name="version" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							
							
							.col13
								.container
									.imgCenter
										img(src="img/iconos/codigo_postal.svg")
									h3.center
										span código postal
									.input.center
										input(type="number" name="codigo_postal" minlength="4" required)
						.half-separator
						.row
							input(type="submit" value="Siguiente >")
						.half-separator
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script.
		$('#datosGenerales').validate({
			rules:{
				dia:{
					required: true,
					max: 31,
					minlength: 2
				},
				mes:{
					required: true,
					max: 12,
					minlength: 2
				}
			}
		});
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
			maxlength: jQuery.validator.format("Maximo {0} caracteres"),
			minlength: jQuery.validator.format("Al menos {0} caracteres"),
			max: jQuery.validator.format("Valor máximo {0}"),
			min: jQuery.validator.format("Valor mínimo {0}"),
		});
	script.
		$( "#fecha-nacimiento" ).datepicker({
			changeMonth: true,
			changeYear: true
		});
