dist/admin/emitir.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles-admin.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <base href="http://easy-insurance.opuntialabs.com/" target="_self">
    <title>Easy Insurance | Emitir</title>
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="wrap-header">
              <div class="logo"><a href="./"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="user-info">
                <div class="user-wrap"><a href="admin/perfil-usuario.html"><img src="img/iconos/easy_insurance-usuario.svg"></a><a href="admin/perfil-usuario.html">
                    <h3 class="user-name">Uriel</h3></a>
                  <p class="center"><a href="login.html"> <span>cerrar sesión</span></a></p>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <section class="emitir">
            <div class="wrapper">
              <div class="inner background-gray">
                <div class="steps-container row-inline">
                  <div class="step cotizar">
                    <div class="imgCenter"><img src="img/easy_insurance-cotiza_tu_vehiculo.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Cotizar</span></div>
                    </div>
                  </div>
                  <div class="step conductor">
                    <div class="imgCenter"><img src="img/easy_insurance-datos_del_conductor.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Conductor</span></div>
                      <div class="triangle"> </div>
                    </div>
                  </div>
                  <div class="step emitir active">
                    <div class="imgCenter"><img src="img/easy_insurance-emite_tu_poliza.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Emitir</span></div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </div>
                <div class="padded datos-vehiculo">
                  <form class="cotizador" id="datos-vehiculo" method="POST" action="/admin/metodo-pago.html">
                    <div class="row-inline">
                      <div class="col12">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/numero_serie.svg"></div>
                          <h3 class="center"><span>Nº de serie</span></h3>
                          <input type="number" name="numero-serie" required>
                        </div>
                      </div>
                      <div class="col12">
                        <div class="container">
                          <div class="imgCenter"><img src="img/iconos/placas.svg"></div>
                          <h3 class="center"><span>Placas</span></h3>
                          <input type="text" name="placas" required>
                        </div>
                      </div>
                    </div>
                    <div class="half-separator"></div>
                    <div class="row controls">
                      <div class="atras"><a class="btn-orange back" href="cotizaciones.html">< Regresar</a></div>
                      <div class="continuar">
                        <input type="submit" value="Continuar &gt;">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="#">Aviso de privacidad</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script>
        $('.has-submenu > a').click(function(e){
        	e.preventDefault();
        	$(this).next('.sub-menu').fadeToggle();
        });
      </script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script>
        $('#datos-vehiculo').validate();
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        });
      </script>
    </div>
  </body>
</html>

app/pug/emitir.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Emitir
	link(rel="stylesheet" href="css/styles-admin.css")
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="#" class="active") Cotizar
block content
	section.emitir
		.wrapper
			.inner.background-gray
				.steps-container.row-inline
					.step.cotizar
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							
					.step.conductor
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
							.triangle 
					.step.emitir.active
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
							.triangle
				.padded.datos-vehiculo
					form.cotizador#datos-vehiculo(method="POST" action="metodo-pago.html")
						.row-inline
							.col12
								.container
									.imgCenter
										img(src="img/iconos/numero_serie.svg")
									h3.center
										span Nº de serie
									input(type="number" name="numero-serie" required)
							.col12
								.container
									.imgCenter
										img(src="img/iconos/placas.svg")
									h3.center
										span Placas
									input(type="text" name="placas" required)
						.half-separator
						.row.controls
							.atras
								a.btn-orange.back(href="cotizaciones.html") < Regresar
							.continuar
								input(type="submit" value="Continuar >")
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script.
		$('#datos-vehiculo').validate();
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
		});
