app/pug/index.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Inicio
	link(rel="stylesheet", type="text/css", href="js/slick/slick.css")
	link(rel="stylesheet", type="text/css", href="js/slick/slick-theme.css")
block menu
	ul
		li
			a(href="#" class="active") Inicio
		li
			a(href="servicios.html") Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="cotizar.html") Cotizar
block content
	section.inicio
		.slider-container
			.slide.slide-1
				.caption
					.container
						h3 No te compliques usa
						.imgCenter
							img(src="img/easy_insurance-logo-2.svg")
						.half-separator
						.center
							a(class="btn-orange" href="cotizar.html") Contrata ahora
			.slide.slide-2
				.caption
					.container
						h3.inline
							span.rwd-line Cotiza tu seguro fácil y rápido
						.row-inline
							h3 usa 
							.imgCenter.inline
								img(src="img/easy_insurance-logo-2.svg")
						.half-separator
						.center
							a(class="btn-orange" href="cotizar.html") Contrata ahora
			.slide.slide-3
				.caption
					.container
						.row-inline
							h3 En
							.imgCenter.inline
								img(src="img/easy_insurance-logo-2.svg")
							h3 sabemos
						h3 el valor de tu tiempo
						.half-separator
						.center
							a(class="btn-orange" href="cotizar.html") Contrata ahora
	section.cotizar-seguro
		.padded
			.triangle
			h1.center.title cotiza tu seguro
			.steps-container
				.row-inline
					.col15(data-aos="fade-zoom-up" data-aos-duration="1000")
						.center
							.number
								span 1
							.imgCenter
								img(src="img/iconos/easy_insurance-datos_automovil.svg")
							p.center
								span.rwd-line Datos generales
								span.rwd-line del vehículo
					.col15(data-aos="fade-zoom-up" data-aos-duration="1010" )
						.center
							.number
								span 2
							.imgCenter
								img(src="img/iconos/easy_insurance-datos_seguro.svg")
							p.center
								span.rwd-line Datos generales 
								span.rwd-line del seguro
					.col15(data-aos="fade-zoom-up" data-aos-duration="1020")#aseguradoras
						.center
							.number
								span 3
							.imgCenter
								img(src="img/iconos/easy_insurance-datos_automovilista.svg")
							p.center
								span.rwd-line Datos generales 
								span.rwd-line del conductor
					.col15(data-aos="fade-zoom-up" data-aos-duration="1030")
						.center
							.number
								span 4
							.imgCenter
								img(src="img/iconos/easy_insurance-emision_poliza.svg")
							p.center
								span.rwd-line Datos para 
								span.rwd-line emisión
					.col15(data-aos="fade-zoom-up" data-aos-duration="1040")
						.center
							.number
								span 5
							.imgCenter
								img(src="img/iconos/easy_insurance-pago_poliza.svg")
							p.center
								span.rwd-line Realizar 
								span.rwd-line pago
			.half-separator
	
	section.aseguradoras
		.padded
			h3.title.center Aseguradoras
			.title-line
			.half-separator
			.slide-aseguradoras
				.imgCenter
					img(src="img/aseguradoras/gnp.svg")
				.imgCenter
					img(src="img/aseguradoras/aba.svg")
				.imgCenter
					img(src="img/aseguradoras/axa.svg")
				.imgCenter
					img(src="img/aseguradoras/zurich.svg")
				.imgCenter
					img(src="img/aseguradoras/hdi.svg")
				.imgCenter
					img(src="img/aseguradoras/qualitas.svg")
				.imgCenter
					img(src="img/aseguradoras/atlas.svg")
	section.nuestros-servicios
		.padded
			h2.title.orange.lines.center
				span Conoce nuestros servicios
			.half-separator
			.row-inline
				.col14
					.container
						h2.center Cotización de seguros
						.line-title
						p.center Cotiza fácil y rápido tu seguro de auto con las mejores tarifas del mercado y múltiples métodos de pago.
						br
						br
						.imgCenter
							img(src="img/iconos/easy_insurance-cotizacion_seguros.svg")
						a(href="servicios.html").mas
							.mas
								span +
				.col14
					.container
						h2.center Venta de seguros
						.line-title
						p.center Deja de hacer largas filas en los bancos o manejar hasta tu aseguradora y adquiere tu seguro de auto al instante.
						br
						br
						.imgCenter
							img(src="img/iconos/easy_insurance-venta_seguros.svg")
						a(href="servicios.html").mas
							.mas
								span +
				.col14
					.container
						h2.center Asesoría personalizada
						.line-title
						p.center El personal de Easy insurance  resuelve tus dudas sobre tu seguro de autos, no dudes en preguntar.
						br
						br
						.imgCenter
							img(src="img/iconos/easy_insurance-asesoria_personalizada.svg")
						
						a(href="servicios.html").mas
							.mas
								span +
				.col14
					.container
						h2.center Administración de tu póliza
						.line-title
						p.left Con Easy Insurance es fácil revisar tus pólizas, ingresa tu correo electrónico y nosotros te las enviamos.
						br
						br
						.imgCenter
							img(src="img/iconos/easy_insurance-administracion_poliza.svg")
						a(href="servicios.html").mas
							.mas
								span +
//-	section.mision-vision
		.inner
			.row-equal
				.col12
					.inner
						.content
							h3.center.lines.title.orange 
								span Visión
							br
							br
							p.description.left
								span.rwd-line Ser la empresa <strong> insuretech </strong> más inclusiva y que aporta más valor en 
								span.rwd-line el mercado a sus clientes y colaboradores, por medio del uso de 
								span.rwd-line <strong> tecnología financiera innovadora.</strong>
				.col12
					.imgCenter
						img(src="img/mision-easy_insurance.jpg")
			.clear
			.row-equal
				.col12
					.imgCenter
						img(src="img/vision-easy_insurance.jpg")
				.col12
					.inner
						.content
							h3.center.lines.title.orange 
								span Misión
							br
							br
							p.description.left
								span.rwd-line Lograr los <strong>mayores beneficios</strong> y la <strong>mejor experiencia</strong> en la compra 

								span.rwd-line del seguro de auto para nuestros clientes a través del uso de 
								span.rwd-line <strong> tecnología financiera innovadora.</strong>
	

							

block scriptsFooter
	script(type="text/javascript" src="js/slick/slick.min.js")
	script.
		$('.slide-aseguradoras').slick({
			autoplay:true,
			infinite: true,
			speed: 300,
			slidesToShow: 4,
			cssEase: 'linear',
			responsive:[{
				breakpoint:599,
				settings:{
					slidesToShow:1,
					slidesToScroll: 1,
					speed: 500,
					autoplaySpeed:1000,
				}
			}
			]
		});
		$('.slider-container').slick({
			autoplay:true,
			infinite: true,
			speed: 300,
			dots: true,
			arrows:false,
		});
		/**********SLIDES RESPONSIVE***********/
		if($(window).width() < 599){
			responsiveSlides();
		}
		var resizeSlide = _.debounce(function(){
			responsiveSlides();

		}, 300);
		$(window).resize(resizeSlide);
		function responsiveSlides(){
			if($(window).width() < 599){
				$('.steps-container .row-inline').slick({
					autoplay:true,
					infinite: true,
					speed: 200,
					cssEase: 'ease-in-out',
				});
				$('.nuestros-servicios .row-inline').slick({
					autoplay:true,
					dots: true,
					arrows:false,
					cssEase: 'ease-in-out',
				});

			}
			else{
				$('.steps-container .row-inline').slick('unslick');
				$('.nuestros-servicios .row-inline').slick('unslick');
			}
		}
	

dist/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <!--base(href="http://easy-insurance.opuntialabs.com/" target="_self")-->
    <title>Easy Insurance | Inicio</title>
    <link rel="stylesheet" type="text/css" href="js/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css">
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="top-header">
              <div class="container">
                <div class="social-media">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="login.html"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="wrap-header">
              <div class="logo"><a href="/"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="menu-bars"><span></span><span> </span><span></span></div>
              <div class="menu">
                <ul>
                  <li><a class="active" href="#">Inicio</a></li>
                  <li><a href="servicios.html">Servicios</a></li>
                  <li><a href="nosotros.html">Nosotros</a></li>
                  <li><a href="../#aseguradoras">Aseguradoras</a></li>
                  <li><a href="#contacto">Contacto</a></li>
                  <li><a href="cotizar.html">Cotizar</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <section class="inicio">
            <div class="slider-container">
              <div class="slide slide-1">
                <div class="caption">
                  <div class="container">
                    <h3>No te compliques usa</h3>
                    <div class="imgCenter"><img src="img/easy_insurance-logo-2.svg"></div>
                    <div class="half-separator"></div>
                    <div class="center"><a class="btn-orange" href="cotizar.html">Contrata ahora</a></div>
                  </div>
                </div>
              </div>
              <div class="slide slide-2">
                <div class="caption">
                  <div class="container">
                    <h3 class="inline"><span class="rwd-line">Cotiza tu seguro fácil y rápido</span></h3>
                    <div class="row-inline">
                      <h3>usa </h3>
                      <div class="imgCenter inline"><img src="img/easy_insurance-logo-2.svg"></div>
                    </div>
                    <div class="half-separator"></div>
                    <div class="center"><a class="btn-orange" href="cotizar.html">Contrata ahora</a></div>
                  </div>
                </div>
              </div>
              <div class="slide slide-3">
                <div class="caption">
                  <div class="container">
                    <div class="row-inline">
                      <h3>En</h3>
                      <div class="imgCenter inline"><img src="img/easy_insurance-logo-2.svg"></div>
                      <h3>sabemos</h3>
                    </div>
                    <h3>el valor de tu tiempo</h3>
                    <div class="half-separator"></div>
                    <div class="center"><a class="btn-orange" href="cotizar.html">Contrata ahora</a></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="cotizar-seguro">
            <div class="padded">
              <div class="triangle"></div>
              <h1 class="center title">cotiza tu seguro</h1>
              <div class="steps-container">
                <div class="row-inline">
                  <div class="col15" data-aos="fade-zoom-up" data-aos-duration="1000">
                    <div class="center">
                      <div class="number"><span>1</span></div>
                      <div class="imgCenter"><img src="img/iconos/easy_insurance-datos_automovil.svg"></div>
                      <p class="center"><span class="rwd-line">Datos generales</span><span class="rwd-line">del vehículo</span></p>
                    </div>
                  </div>
                  <div class="col15" data-aos="fade-zoom-up" data-aos-duration="1010">
                    <div class="center">
                      <div class="number"><span>2</span></div>
                      <div class="imgCenter"><img src="img/iconos/easy_insurance-datos_seguro.svg"></div>
                      <p class="center"><span class="rwd-line">Datos generales </span><span class="rwd-line">del seguro</span></p>
                    </div>
                  </div>
                  <div class="col15" data-aos="fade-zoom-up" data-aos-duration="1020" id="aseguradoras">
                    <div class="center">
                      <div class="number"><span>3</span></div>
                      <div class="imgCenter"><img src="img/iconos/easy_insurance-datos_automovilista.svg"></div>
                      <p class="center"><span class="rwd-line">Datos generales </span><span class="rwd-line">del conductor</span></p>
                    </div>
                  </div>
                  <div class="col15" data-aos="fade-zoom-up" data-aos-duration="1030">
                    <div class="center">
                      <div class="number"><span>4</span></div>
                      <div class="imgCenter"><img src="img/iconos/easy_insurance-emision_poliza.svg"></div>
                      <p class="center"><span class="rwd-line">Datos para </span><span class="rwd-line">emisión</span></p>
                    </div>
                  </div>
                  <div class="col15" data-aos="fade-zoom-up" data-aos-duration="1040">
                    <div class="center">
                      <div class="number"><span>5</span></div>
                      <div class="imgCenter"><img src="img/iconos/easy_insurance-pago_poliza.svg"></div>
                      <p class="center"><span class="rwd-line">Realizar </span><span class="rwd-line">pago</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="half-separator"></div>
            </div>
          </section>
          <section class="aseguradoras">
            <div class="padded">
              <h3 class="title center">Aseguradoras</h3>
              <div class="title-line"></div>
              <div class="half-separator"></div>
              <div class="slide-aseguradoras">
                <div class="imgCenter"><img src="img/aseguradoras/gnp.svg"></div>
                <div class="imgCenter"><img src="img/aseguradoras/aba.svg"></div>
                <div class="imgCenter"><img src="img/aseguradoras/axa.svg"></div>
                <div class="imgCenter"><img src="img/aseguradoras/zurich.svg"></div>
                <div class="imgCenter"><img src="img/aseguradoras/hdi.svg"></div>
                <div class="imgCenter"><img src="img/aseguradoras/qualitas.svg"></div>
                <div class="imgCenter"><img src="img/aseguradoras/atlas.svg"></div>
              </div>
            </div>
          </section>
          <section class="nuestros-servicios">
            <div class="padded">
              <h2 class="title orange lines center"><span>Conoce nuestros servicios</span></h2>
              <div class="half-separator"></div>
              <div class="row-inline">
                <div class="col14">
                  <div class="container">
                    <h2 class="center">Cotización de seguros</h2>
                    <div class="line-title"></div>
                    <p class="center">Cotiza fácil y rápido tu seguro de auto con las mejores tarifas del mercado y múltiples métodos de pago.</p><br><br>
                    <div class="imgCenter"><img src="img/iconos/easy_insurance-cotizacion_seguros.svg"></div><a class="mas" href="servicios.html">
                      <div class="mas"><span>+</span></div></a>
                  </div>
                </div>
                <div class="col14">
                  <div class="container">
                    <h2 class="center">Venta de seguros</h2>
                    <div class="line-title"></div>
                    <p class="center">Deja de hacer largas filas en los bancos o manejar hasta tu aseguradora y adquiere tu seguro de auto al instante.</p><br><br>
                    <div class="imgCenter"><img src="img/iconos/easy_insurance-venta_seguros.svg"></div><a class="mas" href="servicios.html">
                      <div class="mas"><span>+</span></div></a>
                  </div>
                </div>
                <div class="col14">
                  <div class="container">
                    <h2 class="center">Asesoría personalizada</h2>
                    <div class="line-title"></div>
                    <p class="center">El personal de Easy insurance  resuelve tus dudas sobre tu seguro de autos, no dudes en preguntar.</p><br><br>
                    <div class="imgCenter"><img src="img/iconos/easy_insurance-asesoria_personalizada.svg"></div><a class="mas" href="servicios.html">
                      <div class="mas"><span>+</span></div></a>
                  </div>
                </div>
                <div class="col14">
                  <div class="container">
                    <h2 class="center">Administración de tu póliza</h2>
                    <div class="line-title"></div>
                    <p class="left">Con Easy Insurance es fácil revisar tus pólizas, ingresa tu correo electrónico y nosotros te las enviamos.</p><br><br>
                    <div class="imgCenter"><img src="img/iconos/easy_insurance-administracion_poliza.svg"></div><a class="mas" href="servicios.html">
                      <div class="mas"><span>+</span></div></a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="footer-wrapper" id="contacto">
        <div class="recupera-tu-poliza" style="display:none;">
          <div class="inner">
            <div class="close-recupera-poliza"><i class="fa fa-times"></i></div>
            <h3>Ingresa tus datos</h3>
            <form id="solicitar-poliza">
              <label>Correo electrónico</label>
              <input type="email" required name="email">
              <label>Selecciona tu vehículo</label>
              <select>
                <option selected hidden>- Seleccionar -</option>
                <option>Jeep Patriot 2010</option>
              </select>
              <input type="submit" value="Solicitar">
            </form>
          </div>
        </div>
        <div class="inner padded">
          <div class="row-inline">
            <div class="col12">
              <h2 class="title center white">Revisa tu Póliza</h2>
              <div class="half-separator"></div>
              <div class="imgCenter"><img class="revisa-tu-poliza" src="img/cotiza_tu_poliza.svg"></div>
              <div class="center"><br><a class="btn-white" href="#" id="mostrar-poliza">Aquí</a></div>
            </div>
            <div class="col12">
              <div class="row-equal row-form">
                <div class="form-container">
                  <h2 class="title left white">Contáctanos</h2>
                  <form class="contacto-white" id="formulario-contacto">
                    <input type="text" placeholder="Nombre" name="name" required>
                    <input type="email" placeholder="Correo" name="email" required>
                    <textarea placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar">
                  </form>
                </div>
                <div class="ubicacion-container">
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-ubicacion.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-mail.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-phone.svg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="aviso-de-privacidad.html">Aviso de privacidad</a></li>
              <li><a href="terminos-y-condiciones.html">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/aos.js"></script>
      <script type="text/javascript" src="js/underscore-min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script>
        $('#formulario-contacto').validate({
        	rules: {
        		name: "required",
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		name: "Escribe tu nombre.",
        		email: {
        			required: "Necesitamos un email para contactarte.",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        $('#solicitar-poliza').validate({
        	rules: {
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		email: {
        			required: "Necesitamos un email para mostrar tus vehículos",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        });
      </script>
      <script>
        AOS.init();
        $('.menu-bars').click(function(){
        	$(this).toggleClass('active');
        	$('.menu').fadeToggle();
        });
        $('.recupera-tu-poliza').hide();
        $('#mostrar-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
        $('.close-recupera-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
      </script>
      <script type="text/javascript" src="js/slick/slick.min.js"></script>
      <script>
        $('.slide-aseguradoras').slick({
        	autoplay:true,
        	infinite: true,
        	speed: 300,
        	slidesToShow: 4,
        	cssEase: 'linear',
        	responsive:[{
        		breakpoint:599,
        		settings:{
        			slidesToShow:1,
        			slidesToScroll: 1,
        			speed: 500,
        			autoplaySpeed:1000,
        		}
        	}
        	]
        });
        $('.slider-container').slick({
        	autoplay:true,
        	infinite: true,
        	speed: 300,
        	dots: true,
        	arrows:false,
        });
        /**********SLIDES RESPONSIVE***********/
        if($(window).width() < 599){
        	responsiveSlides();
        }
        var resizeSlide = _.debounce(function(){
        	responsiveSlides();
        
        }, 300);
        $(window).resize(resizeSlide);
        function responsiveSlides(){
        	if($(window).width() < 599){
        		$('.steps-container .row-inline').slick({
        			autoplay:true,
        			infinite: true,
        			speed: 200,
        			cssEase: 'ease-in-out',
        		});
        		$('.nuestros-servicios .row-inline').slick({
        			autoplay:true,
        			dots: true,
        			arrows:false,
        			cssEase: 'ease-in-out',
        		});
        
        	}
        	else{
        		$('.steps-container .row-inline').slick('unslick');
        		$('.nuestros-servicios .row-inline').slick('unslick');
        	}
        }
      </script>
    </div>
  </body>
</html>
