dist/login.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <!--base(href="http://easy-insurance.opuntialabs.com/" target="_self")-->
    <title>Easy Insurance | Iniciar Sesión</title>
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="top-header">
              <div class="container">
                <div class="social-media">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="login.html"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="wrap-header">
              <div class="logo"><a href="/"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="menu-bars"><span></span><span> </span><span></span></div>
              <div class="menu">
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <section class="login">
            <div class="wrapper">
              <div class="imgCenter"><img class="img-container" src="img/background-login.jpg"></div>
              <div class="title-container">
                <h1><span class="rwd-line">Iniciar</span><span class="rwd-line">sesión</span></h1>
              </div>
              <div class="container-form">
                <div class="imgCenter"><img src="img/iconos/easy_insurance-usuario.svg"></div>
                <div class="half-separator"></div>
                <div class="form">
                  <form>
                    <input type="text" placeholder="Usuario">
                    <input type="password" placeholder="Contraseña">
                    <input type="submit" value="Login">
                    <div class="row-inline">
                      <div class="checkbox">
                        <input type="checkbox" name="recordarUsuario" id="recordar-usuario">
                        <label for="recordar-usuario"><span>Recordarme</span></label>
                      </div><a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="footer-wrapper" id="contacto">
        <div class="recupera-tu-poliza" style="display:none;">
          <div class="inner">
            <div class="close-recupera-poliza"><i class="fa fa-times"></i></div>
            <h3>Ingresa tus datos</h3>
            <form id="solicitar-poliza">
              <label>Correo electrónico</label>
              <input type="email" required name="email">
              <label>Selecciona tu vehículo</label>
              <select>
                <option selected hidden>- Seleccionar -</option>
                <option>Jeep Patriot 2010</option>
              </select>
              <input type="submit" value="Solicitar">
            </form>
          </div>
        </div>
        <div class="inner padded">
          <div class="row-inline">
            <div class="col12">
              <h2 class="title center white">Revisa tu Póliza</h2>
              <div class="half-separator"></div>
              <div class="imgCenter"><img class="revisa-tu-poliza" src="img/cotiza_tu_poliza.svg"></div>
              <div class="center"><br><a class="btn-white" href="#" id="mostrar-poliza">Aquí</a></div>
            </div>
            <div class="col12">
              <div class="row-equal row-form">
                <div class="form-container">
                  <h2 class="title left white">Contáctanos</h2>
                  <form class="contacto-white" id="formulario-contacto">
                    <input type="text" placeholder="Nombre" name="name" required>
                    <input type="email" placeholder="Correo" name="email" required>
                    <textarea placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar">
                  </form>
                </div>
                <div class="ubicacion-container">
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-ubicacion.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-mail.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-phone.svg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="aviso-de-privacidad.html">Aviso de privacidad</a></li>
              <li><a href="terminos-y-condiciones.html">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/aos.js"></script>
      <script type="text/javascript" src="js/underscore-min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script>
        $('#formulario-contacto').validate({
        	rules: {
        		name: "required",
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		name: "Escribe tu nombre.",
        		email: {
        			required: "Necesitamos un email para contactarte.",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        $('#solicitar-poliza').validate({
        	rules: {
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		email: {
        			required: "Necesitamos un email para mostrar tus vehículos",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        });
      </script>
      <script>
        AOS.init();
        $('.menu-bars').click(function(){
        	$(this).toggleClass('active');
        	$('.menu').fadeToggle();
        });
        $('.recupera-tu-poliza').hide();
        $('#mostrar-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
        $('.close-recupera-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
      </script>
      <script>$('.footer-wrapper').hide();</script>
    </div>
  </body>
</html>

app/pug/login.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Iniciar Sesión
block content
	section.login
		.wrapper
			.imgCenter
				img.img-container(src="img/background-login.jpg")
			.title-container
				h1
					span.rwd-line Iniciar
					span.rwd-line sesión
			.container-form
				.imgCenter
					img(src="img/iconos/easy_insurance-usuario.svg")
				.half-separator
				.form
					form
						input(type="text" placeholder="Usuario")
						input(type="password" placeholder="Contraseña")
						input(type="submit" value="Login")
						.row-inline
							.checkbox
								input(type="checkbox" name="recordarUsuario" id="recordar-usuario")
								label(for="recordar-usuario")
									span Recordarme
							a(href="#") ¿Olvidaste tu contraseña?
block scriptsFooter
	script.
		$('.footer-wrapper').hide();
