app/pug/metodo-pago.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Método de pago
	link(rel="stylesheet" href="css/styles-admin.css")
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="#" class="active") Cotizar
block content
	section.cotizaciones.metodo-pago
		.wrapper
			.inner
				.steps-container.row-inline
					.step.cotizar
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							.triangle
					.step.conductor
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
					.step.emitir.active
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
				.content
					.datos-vehiculo
						.wrapper
							.marca
								h3 Marca
								p Jeep
							.submarca
								h3 Submarca
								p Patriot
							.anio
								h3 Año
								p 2010
							.codigo-postal
								h3 Código Postal
								p 44510
							.genero
								h3 Género
								p Mujer
							.aseguradora
								h3 Aseguradora
								.imgLeft
									img(src="img/aseguradoras/gnp.svg")
							.total
								h3 Total
								p $7,499.00
							.cobertura
								h3 Cobertura
								p Amplia
							.tipo-pago
								h3 Tipo de pago
								p Anual
							.uso
								h3 Uso
								p Particular
						.ocultar-descripcion
							i(class="fa fa-angle-up" aria-hidden="true" id="ocultar-descripcion")
					.metodos-pago
						.wrapper
							.ordenar
								h1.title Forma de pago
							.half-separator
							.row-inline
								.pago-tarjeta
									.line-title
										h2 Tarjeta de crédito / débito
										img(src="img/iconos/metodos_de_pago.svg")
									form.cotizador#card-form(action='gracias-por-tu-pago.html', method='POST')
										span.card-errors
										div
											label
												span Nombre del tarjetahabiente
												input(type='text', size='20', data-conekta='card[name]', name="nombre_tarjeta")
										div
											label
												span Número de tarjeta de crédito
												input(type='text', size='20', data-conekta='card[number]',name="numero_tarjeta")
										.row-inline
											.col12
												label
													span CVC
													input(type='text', size='4', data-conekta='card[cvc]',name="cvc")
											.col12

												label
													span Fecha de expiración (MM/AAAA)
												.fecha_expiracion.row-inline
													input(type='text', size='2', data-conekta='card[exp_month]')
													span /
													input(type='text', size='4', data-conekta='card[exp_year]')
										p.terminos.right
											span.rwd-line *Tu póliza y recibo se enviarán al correo electrónico ingresado previamente.
											span.rwd-line *Al pagar aceptas nuestros <a href="./terminos-y-condiciones.html" target="_blank">Términos y condiciones</a>.
										.right
											button.btn-orange(type='submit') Pagar
								.pago-oxxo
									.line-title
										h2 Ficha de pago
										img(src="img/metodos-pago/oxxo.svg")
									form.cotizador#oxxo-form(action='gracias-por-tu-pago-oxxo.html', method='POST')
										span.card-errors
										div
											label
												span Correo electrónico
												input(type='text', size='20', data-conekta='card[name]', name="email")
										p.terminos.right
											span.rwd-line *Tu póliza y recibo se enviarán al correo electrónico ingresado previamente.
											span.rwd-line *Al pagar aceptas nuestros <a href="./terminos-y-condiciones.html" target="_blank">Términos y condiciones</a>.
										.right
											button.btn-orange(type='submit') Generar ficha
							.half-separator
							.row.controls.padded
								.atras
									a.btn-orange.back(href="emitir.html") < Regresar
					
								
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script.
		$('#ocultar-descripcion').click(function(){
			$('.datos-vehiculo .wrapper').fadeToggle();
			$('#ocultar-descripcion').toggleClass('fa-angle-down');
			$('.datos-vehiculo').toggleClass('no-padded');
		});
		$('#card-form').validate({
			rules: {
				email: {
					required: true,
					email: true
				},
				nombre_tarjeta:{
					required: true,
				},
				numero_tarjeta:{
					required: true,
					minlength:16,
					maxlength:16,
				},
				cvc:{
					required:true,
					minlength:3,
					maxlength:4
				}
			},
			messages: {
				numero_tarjeta: "Escribe tu nombre.",
			}
		});
		$('#oxxo-form').validate({
			rules: {
				email: {
					required: true,
					email: true
				},
			},
			messages: {
				email: {
					required: "Necesitamos un email para contactarte.",
					email: "Formato: tunombre@domain.com"
				}

			}
		});
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
			maxlength: jQuery.validator.format("Maximo {0} caracteres"),
			minlength: jQuery.validator.format("Al menos {0} caracteres")
		});

dist/admin/metodo-pago.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles-admin.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <base href="http://easy-insurance.opuntialabs.com/" target="_self">
    <title>Easy Insurance | Método de pago</title>
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="wrap-header">
              <div class="logo"><a href="./"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="user-info">
                <div class="user-wrap"><a href="admin/perfil-usuario.html"><img src="img/iconos/easy_insurance-usuario.svg"></a><a href="admin/perfil-usuario.html">
                    <h3 class="user-name">Uriel</h3></a>
                  <p class="center"><a href="login.html"> <span>cerrar sesión</span></a></p>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <section class="cotizaciones metodo-pago">
            <div class="wrapper">
              <div class="inner">
                <div class="steps-container row-inline">
                  <div class="step cotizar">
                    <div class="imgCenter"><img src="img/easy_insurance-cotiza_tu_vehiculo.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Cotizar</span></div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                  <div class="step conductor">
                    <div class="imgCenter"><img src="img/easy_insurance-datos_del_conductor.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Conductor</span></div>
                    </div>
                  </div>
                  <div class="step emitir active">
                    <div class="imgCenter"><img src="img/easy_insurance-emite_tu_poliza.jpg"></div>
                    <div class="cover">
                      <div class="center"><span>Emitir</span></div>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <div class="datos-vehiculo">
                    <div class="wrapper">
                      <div class="marca">
                        <h3>Marca</h3>
                        <p>Jeep</p>
                      </div>
                      <div class="submarca">
                        <h3>Submarca</h3>
                        <p>Patriot</p>
                      </div>
                      <div class="anio">
                        <h3>Año</h3>
                        <p>2010</p>
                      </div>
                      <div class="codigo-postal">
                        <h3>Código Postal</h3>
                        <p>44510</p>
                      </div>
                      <div class="genero">
                        <h3>Género</h3>
                        <p>Mujer</p>
                      </div>
                      <div class="aseguradora">
                        <h3>Aseguradora</h3>
                        <div class="imgLeft"><img src="img/aseguradoras/gnp.svg"></div>
                      </div>
                      <div class="total">
                        <h3>Total</h3>
                        <p>$7,499.00</p>
                      </div>
                      <div class="cobertura">
                        <h3>Cobertura</h3>
                        <p>Amplia</p>
                      </div>
                      <div class="tipo-pago">
                        <h3>Tipo de pago</h3>
                        <p>Anual</p>
                      </div>
                      <div class="uso">
                        <h3>Uso</h3>
                        <p>Particular</p>
                      </div>
                    </div>
                    <div class="ocultar-descripcion"><i class="fa fa-angle-up" aria-hidden="true" id="ocultar-descripcion"></i></div>
                  </div>
                  <div class="metodos-pago">
                    <div class="wrapper">
                      <div class="ordenar">
                        <h1 class="title">Forma de pago</h1>
                      </div>
                      <div class="half-separator"></div>
                      <div class="row-inline">
                        <div class="pago-tarjeta">
                          <div class="line-title">
                            <h2>Tarjeta de crédito / débito</h2><img src="img/iconos/metodos_de_pago.svg">
                          </div>
                          <form class="cotizador" id="card-form" action="" method="POST"><span class="card-errors"></span>
                            <div>
                              <label><span>Nombre del tarjetahabiente</span>
                                <input type="text" size="20" data-conekta="card[name]" name="nombre_tarjeta">
                              </label>
                            </div>
                            <div>
                              <label><span>Número de tarjeta de crédito</span>
                                <input type="text" size="20" data-conekta="card[number]" name="numero_tarjeta">
                              </label>
                            </div>
                            <div class="row-inline">
                              <div class="col12">
                                <label><span>CVC</span>
                                  <input type="text" size="4" data-conekta="card[cvc]" name="cvc">
                                </label>
                              </div>
                              <div class="col12">
                                <label><span>Fecha de expiración (MM/AAAA)</span></label>
                                <div class="fecha_expiracion row-inline">
                                  <input type="text" size="2" data-conekta="card[exp_month]"><span>/</span>
                                  <input type="text" size="4" data-conekta="card[exp_year]">
                                </div>
                              </div>
                            </div>
                            <p class="terminos right"><span class="rwd-line">*Tu póliza y recibo se enviarán al correo electrónico ingresado previamente.</span><span class="rwd-line">*Al pagar aceptas nuestros <a href="./terminos-y-condiciones.html" target="_blank">Términos y condiciones</a>.</span></p>
                            <div class="right">
                              <button class="btn-orange" type="submit">Pagar</button>
                            </div>
                          </form>
                        </div>
                        <div class="pago-oxxo">
                          <div class="line-title">
                            <h2>Ficha de pago</h2><img src="img/metodos-pago/oxxo.svg">
                          </div>
                          <form class="cotizador" id="oxxo-form" action="" method="POST"><span class="card-errors"></span>
                            <div>
                              <label><span>Correo electrónico</span>
                                <input type="text" size="20" data-conekta="card[name]" name="email">
                              </label>
                            </div>
                            <p class="terminos right"><span class="rwd-line">*Tu póliza y recibo se enviarán al correo electrónico ingresado previamente.</span><span class="rwd-line">*Al pagar aceptas nuestros <a href="./terminos-y-condiciones.html" target="_blank">Términos y condiciones</a>.</span></p>
                            <div class="right">
                              <button class="btn-orange" type="submit">Generar ficha</button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="half-separator"></div>
                      <div class="row controls padded">
                        <div class="atras"><a class="btn-orange back" href="emitir.html">< Regresar</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="#">Aviso de privacidad</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script>
        $('.has-submenu > a').click(function(e){
        	e.preventDefault();
        	$(this).next('.sub-menu').fadeToggle();
        });
      </script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script>
        $('#ocultar-descripcion').click(function(){
        	$('.datos-vehiculo .wrapper').fadeToggle();
        	$('#ocultar-descripcion').toggleClass('fa-angle-down');
        	$('.datos-vehiculo').toggleClass('no-padded');
        });
        $('#card-form').validate({
        	rules: {
        		email: {
        			required: true,
        			email: true
        		},
        		nombre_tarjeta:{
        			required: true,
        		},
        		numero_tarjeta:{
        			required: true,
        			minlength:16,
        			maxlength:16,
        		},
        		cvc:{
        			required:true,
        			minlength:3,
        			maxlength:4
        		}
        	},
        	messages: {
        		numero_tarjeta: "Escribe tu nombre.",
        	}
        });
        $('#oxxo-form').validate({
        	rules: {
        		email: {
        			required: true,
        			email: true
        		},
        	},
        	messages: {
        		email: {
        			required: "Necesitamos un email para contactarte.",
        			email: "Formato: tunombre@domain.com"
        		}
        
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        	maxlength: jQuery.validator.format("Maximo {0} caracteres"),
        	minlength: jQuery.validator.format("Al menos {0} caracteres")
        });
      </script>
    </div>
  </body>
</html>
