app/pug/nosotros.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Nosotros
block menu
	ul
		li
			a(href="index.html") Inicio
		li
			a(href="servicios.html") Servicios
		li
			a(href="#" class="active") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="cotizar.html") Cotizar
block content
	section.servicios
		.header-container
			.imgCenter
				img(src="img/easy_insurance-nosotros.jpg")
			.title-container
				h1 
					span Nosotros
		.content.background-gray
			.separator
			.padded
				p.description.center 
					span.rwd-line Easy Insurance empezó como un proyecto escolar en la clase de innovación de productos y servicios, en el año 2016. 
					span.rwd-line Todo empezó como una idea, pero al momento de culminar el proyecto se vio que el mercado de seguros no es inclusivo 
					span.rwd-line y hay un rezago en la cantidad de agentes de seguros. En Mayo de 2016 se empezó a trabajar en el desarrollo 
					span.rwd-line de la herramienta y al principio empezamos vendiendo uno por uno. En la actualidad 1 año después de nuestra 
					span.rwd-line fundación nos encontramos disponible para el público en el sitio web, contamos con una fuerza de ventas 
					span.rwd-line con dispositivos móviles ofreciendo seguros y algunos puntos de venta. 
				.separator
	section.mision-vision
		.inner
			.row-equal
				.col12
					.inner
						.content
							h3.center.lines.title.orange 
								span Visión
							br
							br
							p.description.left
								span.rwd-line Ser la empresa <strong> insuretech </strong> más inclusiva y que aporta más valor en 
								span.rwd-line el mercado a sus clientes y colaboradores, por medio del uso de 
								span.rwd-line <strong> tecnología financiera innovadora.</strong>
				.col12
					.imgCenter
						img(src="img/mision-easy_insurance.jpg")
			.clear
			.row-equal
				.col12
					.imgCenter
						img(src="img/vision-easy_insurance.jpg")
				.col12
					.inner
						.content
							h3.center.lines.title.orange 
								span Misión
							br
							br
							p.description.left
								span.rwd-line Lograr los <strong>mayores beneficios</strong> y la <strong>mejor experiencia</strong> en la compra 
								span.rwd-line del seguro de auto para nuestros clientes a través del uso de 
								span.rwd-line <strong> tecnología financiera innovadora.</strong>
	section.preguntas-frecuentes
		.content.background-gray
			.padded
				.title-container
				h2.title.orange 
					span Preguntas frecuentes
				.half-separator
				.preguntas-container
					.pregunta
						h4 ¿Qué es un seguro?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Es un medio para transferir el riesgo de ciertas situaciones a una aseguradora, que en caso de un siniestro ellos garantizan el pago de tu accidente. Puede asegurar casi todo, desde tu carro hasta tu mascota.
					.pregunta
						h4 ¿Qué es el seguro de auto?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Es un medio para proteger el vehículo, a los ocupantes y a terceras personas involucradas en caso de algún accidente imprevisto.
					.pregunta
						h4 ¿Qué es un seguro de RC?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description El seguro de RC o Responsabilidad Civil cubre los daños del tercero afectado y a partir de 2017 es obligatorio para los autos modelo 2002 en adelante.
					.pregunta
						h4 ¿Cuál es el seguro de cobertura limitada?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Este tipo de seguro cubre daños a terceros como el de responsabilidad civil, pero además cubre el robo total del vehículo asegurado.
					.pregunta
						h4 ¿Cuál es el seguro de cobertura amplia?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Es el seguro más completo, porque cubre daños a terceros, robo total o parcial y los daños del vehículo asegurado. En el caso de necesitar cubrir el daño propio únicamente se tiene que pagar un deducible.
					.pregunta
						h4 ¿Qué es el deducible?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description El deducible es una cantidad que se le tiene que pagar a la aseguradora en caso de tener un accidente, se conocen como los primeros gastos de una póliza y los tiene que absorber el contratante del seguro.
					.pregunta
						h4 ¿Qué es un siniestro?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Es la forma en que las aseguradoras de llaman a un accidente imprevisto en el que se daña el bien o la persona asegurada.
					.pregunta
						h4 ¿Cuáles son los métodos de pago de Easy Insurance?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description En Easy Insurance contamos con varios métodos de pago que incluyen: tarjetas de crédito o débito, oxxo pay, depósito en sucursal bancaria o en la aseguradora.
					.pregunta
						h4 ¿Se puede contratar el seguro por menos de un año?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description No se puede contratar el seguro por menos de un año, pero se puede elegir pagar mensual, trimestral o semestral para aligerar la carga económica de nuestros clientes.
					.pregunta
						h4 ¿Qué hacer en caso de un siniestro?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Llama directamente a la aseguradora, en tu póliza viene el número de la aseguradora y el número de tu póliza con el cual hacer válido tu seguro.
					.pregunta
						h4 ¿Qué hacer en caso de perder mi póliza?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description En el portal de easy insurance puedes solicitar tu póliza en cualquier momento únicamente ingresando tu correo electrónico.
					.pregunta
						h4 ¿De qué depende el precio de tu seguro?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Con el portal siempre puedes personalizar tu seguro y ajustar el precio a tus posibilidades. Depende de varios factores como el tipo de cobertura, tipo de vehículo, modelo, marca y año, adicionalmente influye el estado en el que circula.
					
block scriptsFooter
	script.
		$('.pregunta').click(function(){
			$('.pregunta').removeClass('active');
			$('.pregunta').find('i').removeClass('fa-minus-square');
			$(this).toggleClass('active');
			$(this).find('i').toggleClass('fa-minus-square');
		});

dist/nosotros.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <!--base(href="http://easy-insurance.opuntialabs.com/" target="_self")-->
    <title>Easy Insurance | Nosotros</title>
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="top-header">
              <div class="container">
                <div class="social-media">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="login.html"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="wrap-header">
              <div class="logo"><a href="/"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="menu-bars"><span></span><span> </span><span></span></div>
              <div class="menu">
                <ul>
                  <li><a href="index.html">Inicio</a></li>
                  <li><a href="servicios.html">Servicios</a></li>
                  <li><a class="active" href="#">Nosotros</a></li>
                  <li><a href="../#aseguradoras">Aseguradoras</a></li>
                  <li><a href="#contacto">Contacto</a></li>
                  <li><a href="cotizar.html">Cotizar</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <section class="servicios">
            <div class="header-container">
              <div class="imgCenter"><img src="img/easy_insurance-nosotros.jpg"></div>
              <div class="title-container">
                <h1> <span>Nosotros</span></h1>
              </div>
            </div>
            <div class="content background-gray">
              <div class="separator"></div>
              <div class="padded">
                <p class="description center"> <span class="rwd-line">Easy Insurance empezó como un proyecto escolar en la clase de innovación de productos y servicios, en el año 2016. </span><span class="rwd-line">Todo empezó como una idea, pero al momento de culminar el proyecto se vio que el mercado de seguros no es inclusivo </span><span class="rwd-line">y hay un rezago en la cantidad de agentes de seguros. En Mayo de 2016 se empezó a trabajar en el desarrollo </span><span class="rwd-line">de la herramienta y al principio empezamos vendiendo uno por uno. En la actualidad 1 año después de nuestra </span><span class="rwd-line">fundación nos encontramos disponible para el público en el sitio web, contamos con una fuerza de ventas </span><span class="rwd-line">con dispositivos móviles ofreciendo seguros y algunos puntos de venta. </span></p>
                <div class="separator"></div>
              </div>
            </div>
          </section>
          <section class="mision-vision">
            <div class="inner">
              <div class="row-equal">
                <div class="col12">
                  <div class="inner">
                    <div class="content">
                      <h3 class="center lines title orange"> <span>Visión</span></h3><br><br>
                      <p class="description left"><span class="rwd-line">Ser la empresa <strong> insuretech </strong> más inclusiva y que aporta más valor en </span><span class="rwd-line">el mercado a sus clientes y colaboradores, por medio del uso de </span><span class="rwd-line"><strong> tecnología financiera innovadora.</strong></span></p>
                    </div>
                  </div>
                </div>
                <div class="col12">
                  <div class="imgCenter"><img src="img/mision-easy_insurance.jpg"></div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="row-equal">
                <div class="col12">
                  <div class="imgCenter"><img src="img/vision-easy_insurance.jpg"></div>
                </div>
                <div class="col12">
                  <div class="inner">
                    <div class="content">
                      <h3 class="center lines title orange"> <span>Misión</span></h3><br><br>
                      <p class="description left"><span class="rwd-line">Lograr los <strong>mayores beneficios</strong> y la <strong>mejor experiencia</strong> en la compra </span><span class="rwd-line">del seguro de auto para nuestros clientes a través del uso de </span><span class="rwd-line"><strong> tecnología financiera innovadora.</strong></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="preguntas-frecuentes">
            <div class="content background-gray">
              <div class="padded">
                <div class="title-container"></div>
                <h2 class="title orange"> <span>Preguntas frecuentes</span></h2>
                <div class="half-separator"></div>
                <div class="preguntas-container">
                  <div class="pregunta">
                    <h4>¿Qué es un seguro?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">Es un medio para transferir el riesgo de ciertas situaciones a una aseguradora, que en caso de un siniestro ellos garantizan el pago de tu accidente. Puede asegurar casi todo, desde tu carro hasta tu mascota.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Qué es el seguro de auto?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">Es un medio para proteger el vehículo, a los ocupantes y a terceras personas involucradas en caso de algún accidente imprevisto.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Qué es un seguro de RC?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">El seguro de RC o Responsabilidad Civil cubre los daños del tercero afectado y a partir de 2017 es obligatorio para los autos modelo 2002 en adelante.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Cuál es el seguro de cobertura limitada?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">Este tipo de seguro cubre daños a terceros como el de responsabilidad civil, pero además cubre el robo total del vehículo asegurado.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Cuál es el seguro de cobertura amplia?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">Es el seguro más completo, porque cubre daños a terceros, robo total o parcial y los daños del vehículo asegurado. En el caso de necesitar cubrir el daño propio únicamente se tiene que pagar un deducible.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Qué es el deducible?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">El deducible es una cantidad que se le tiene que pagar a la aseguradora en caso de tener un accidente, se conocen como los primeros gastos de una póliza y los tiene que absorber el contratante del seguro.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Qué es un siniestro?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">Es la forma en que las aseguradoras de llaman a un accidente imprevisto en el que se daña el bien o la persona asegurada.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Cuáles son los métodos de pago de Easy Insurance?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">En Easy Insurance contamos con varios métodos de pago que incluyen: tarjetas de crédito o débito, oxxo pay, depósito en sucursal bancaria o en la aseguradora.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Se puede contratar el seguro por menos de un año?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">No se puede contratar el seguro por menos de un año, pero se puede elegir pagar mensual, trimestral o semestral para aligerar la carga económica de nuestros clientes.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Qué hacer en caso de un siniestro?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">Llama directamente a la aseguradora, en tu póliza viene el número de la aseguradora y el número de tu póliza con el cual hacer válido tu seguro.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿Qué hacer en caso de perder mi póliza?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">En el portal de easy insurance puedes solicitar tu póliza en cualquier momento únicamente ingresando tu correo electrónico.</p>
                    </div>
                  </div>
                  <div class="pregunta">
                    <h4>¿De qué depende el precio de tu seguro?</h4><i class="fa fa-servicio fa-plus-square" aria-hidden="true"></i>
                    <div class="respuesta">
                      <p class="description">Con el portal siempre puedes personalizar tu seguro y ajustar el precio a tus posibilidades. Depende de varios factores como el tipo de cobertura, tipo de vehículo, modelo, marca y año, adicionalmente influye el estado en el que circula.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="footer-wrapper" id="contacto">
        <div class="recupera-tu-poliza" style="display:none;">
          <div class="inner">
            <div class="close-recupera-poliza"><i class="fa fa-times"></i></div>
            <h3>Ingresa tus datos</h3>
            <form id="solicitar-poliza">
              <label>Correo electrónico</label>
              <input type="email" required name="email">
              <label>Selecciona tu vehículo</label>
              <select>
                <option selected hidden>- Seleccionar -</option>
                <option>Jeep Patriot 2010</option>
              </select>
              <input type="submit" value="Solicitar">
            </form>
          </div>
        </div>
        <div class="inner padded">
          <div class="row-inline">
            <div class="col12">
              <h2 class="title center white">Revisa tu Póliza</h2>
              <div class="half-separator"></div>
              <div class="imgCenter"><img class="revisa-tu-poliza" src="img/cotiza_tu_poliza.svg"></div>
              <div class="center"><br><a class="btn-white" href="#" id="mostrar-poliza">Aquí</a></div>
            </div>
            <div class="col12">
              <div class="row-equal row-form">
                <div class="form-container">
                  <h2 class="title left white">Contáctanos</h2>
                  <form class="contacto-white" id="formulario-contacto">
                    <input type="text" placeholder="Nombre" name="name" required>
                    <input type="email" placeholder="Correo" name="email" required>
                    <textarea placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar">
                  </form>
                </div>
                <div class="ubicacion-container">
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-ubicacion.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-mail.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-phone.svg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="aviso-de-privacidad.html">Aviso de privacidad</a></li>
              <li><a href="terminos-y-condiciones.html">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/aos.js"></script>
      <script type="text/javascript" src="js/underscore-min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script>
        $('#formulario-contacto').validate({
        	rules: {
        		name: "required",
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		name: "Escribe tu nombre.",
        		email: {
        			required: "Necesitamos un email para contactarte.",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        $('#solicitar-poliza').validate({
        	rules: {
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		email: {
        			required: "Necesitamos un email para mostrar tus vehículos",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        });
      </script>
      <script>
        AOS.init();
        $('.menu-bars').click(function(){
        	$(this).toggleClass('active');
        	$('.menu').fadeToggle();
        });
        $('.recupera-tu-poliza').hide();
        $('#mostrar-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
        $('.close-recupera-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
      </script>
      <script>
        $('.pregunta').click(function(){
        	$('.pregunta').removeClass('active');
        	$('.pregunta').find('i').removeClass('fa-minus-square');
        	$(this).toggleClass('active');
        	$(this).find('i').toggleClass('fa-minus-square');
        });
      </script>
    </div>
  </body>
</html>
