dist/servicios.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <!--base(href="http://easy-insurance.opuntialabs.com/" target="_self")-->
    <title>Easy Insurance | Servicios</title>
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="top-header">
              <div class="container">
                <div class="social-media">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="login.html"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="wrap-header">
              <div class="logo"><a href="/"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="menu-bars"><span></span><span> </span><span></span></div>
              <div class="menu">
                <ul>
                  <li><a href="./">Inicio</a></li>
                  <li><a class="active" href="servicios.html">Servicios</a></li>
                  <li><a href="nosotros.html">Nosotros</a></li>
                  <li><a href="../#aseguradoras">Aseguradoras</a></li>
                  <li><a href="#contacto">Contacto</a></li>
                  <li><a href="cotizar.html">Cotizar</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <section class="servicios">
            <div class="header-container">
              <div class="imgCenter"><img src="img/header-servicios_easy_insurance.jpg"></div>
              <div class="title-container">
                <h1> <span>Servicios</span></h1>
              </div>
            </div>
            <div class="content background-gray">
              <div class="half-separator"></div>
              <div class="padded">
                <div class="row-equal descripcion-servicios">
                  <div class="col14">
                    <div class="container">
                      <div class="title row-inline"><img src="img/iconos/easy_insurance-cotizacion_seguros.svg">
                        <h2>Cotización de seguros</h2>
                      </div>
                      <ul>
                        <li>Easy Insurance te ayuda a cotizar de forma fácil y rápido tu seguro de auto</li>
                        <li>Ingresa los datos de tu vehículo</li>
                        <li>Obtén las mejores tarifas con nuestras aseguradoras aliadas </li>
                        <li>Elige el tipo de seguro y forma de pago</li>
                        <li>Con los 3 datos anteriores obtén tu cotización personalizada </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col14">
                    <div class="container">
                      <div class="title row-inline"><img src="img/iconos/easy_insurance-venta_seguros.svg">
                        <h2>Venta de seguros</h2>
                      </div>
                      <ul>
                        <li>Con Easy Insurance deja de hacer largas filas en los bancos o manejar hasta tu aseguradora</li>
                        <li>El proceso de venta de seguros nunca había sido tan sencillo</li>
                        <li>Al momento de recibir tu cotización personalizada elige alguno de nuestros múltiples métodos de pago</li>
                        <li>Recibe la póliza en tu correo electrónico</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col14">
                    <div class="container">
                      <div class="title row-inline"><img src="img/iconos/easy_insurance-asesoria_personalizada.svg">
                        <h2>Asesoría Personalizada</h2>
                      </div>
                      <ul>
                        <li>El personal de Easy insurance resuelve tus dudas sobre tu seguro de autos, no dudes en preguntar</li>
                        <li>No te sientes cómodo comprando el seguro por tu cuenta, contacta a nuestro personal de ventas</li>
                        <li>Si quieres cualquier seguro de otro tipo, nuestro equipo te puede asesorar</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col14">
                    <div class="container">
                      <div class="title row-inline"><img src="img/iconos/easy_insurance-administracion_poliza.svg">
                        <h2>Administración de tu póliza</h2>
                      </div>
                      <ul>
                        <li>Únicamente ingresando tu correo electrónico, nosotros te hacemos llegar tu póliza</li>
                        <li>Puedes buscar tu seguro desde cualquier dispositivo móvil</li>
                        <li>Con Easy Insurance estas siempre protegido</li>
                        <li>Renovaciones fácil y rápido</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="half-separator"></div>
              </div>
              <div class="row-inline obten-tu-seguro">
                <div class="col13">
                  <div class="imgCenter"><img src="img/easy_insurance-cotiza_ya.jpg"></div>
                  <div class="btn"><a class="btn-orange" href="cotizar.html">¡Cotiza ya!</a></div>
                </div>
                <div class="col13">
                  <div class="imgCenter"><img src="img/easy_insurance-contrata_ahora.jpg"></div>
                  <div class="btn"><a class="btn-orange" href="cotizar.html">Contrata ahora</a></div>
                </div>
                <div class="col13">
                  <div class="imgCenter"><img src="img/easy_insurance-contactanos.jpg"></div>
                  <div class="btn"><a class="btn-orange" href="#contacto">Contáctanos</a></div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="footer-wrapper" id="contacto">
        <div class="recupera-tu-poliza" style="display:none;">
          <div class="inner">
            <div class="close-recupera-poliza"><i class="fa fa-times"></i></div>
            <h3>Ingresa tus datos</h3>
            <form id="solicitar-poliza">
              <label>Correo electrónico</label>
              <input type="email" required name="email">
              <label>Selecciona tu vehículo</label>
              <select>
                <option selected hidden>- Seleccionar -</option>
                <option>Jeep Patriot 2010</option>
              </select>
              <input type="submit" value="Solicitar">
            </form>
          </div>
        </div>
        <div class="inner padded">
          <div class="row-inline">
            <div class="col12">
              <h2 class="title center white">Revisa tu Póliza</h2>
              <div class="half-separator"></div>
              <div class="imgCenter"><img class="revisa-tu-poliza" src="img/cotiza_tu_poliza.svg"></div>
              <div class="center"><br><a class="btn-white" href="#" id="mostrar-poliza">Aquí</a></div>
            </div>
            <div class="col12">
              <div class="row-equal row-form">
                <div class="form-container">
                  <h2 class="title left white">Contáctanos</h2>
                  <form class="contacto-white" id="formulario-contacto">
                    <input type="text" placeholder="Nombre" name="name" required>
                    <input type="email" placeholder="Correo" name="email" required>
                    <textarea placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar">
                  </form>
                </div>
                <div class="ubicacion-container">
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-ubicacion.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-mail.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-phone.svg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="aviso-de-privacidad.html">Aviso de privacidad</a></li>
              <li><a href="terminos-y-condiciones.html">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/aos.js"></script>
      <script type="text/javascript" src="js/underscore-min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script>
        $('#formulario-contacto').validate({
        	rules: {
        		name: "required",
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		name: "Escribe tu nombre.",
        		email: {
        			required: "Necesitamos un email para contactarte.",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        $('#solicitar-poliza').validate({
        	rules: {
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		email: {
        			required: "Necesitamos un email para mostrar tus vehículos",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        });
      </script>
      <script>
        AOS.init();
        $('.menu-bars').click(function(){
        	$(this).toggleClass('active');
        	$('.menu').fadeToggle();
        });
        $('.recupera-tu-poliza').hide();
        $('#mostrar-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
        $('.close-recupera-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
      </script>
    </div>
  </body>
</html>

app/pug/servicios.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Servicios
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" class="active") Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="cotizar.html") Cotizar
block content
	section.servicios
		.header-container
			.imgCenter
				img(src="img/header-servicios_easy_insurance.jpg")
			.title-container
				h1 
					span Servicios
		.content.background-gray
			.half-separator
			.padded
				.row-equal.descripcion-servicios
					.col14
						.container
							.title.row-inline
								img(src="img/iconos/easy_insurance-cotizacion_seguros.svg")
								h2 Cotización de seguros
							ul
								li Easy Insurance te ayuda a cotizar de forma fácil y rápido tu seguro de auto
								li Ingresa los datos de tu vehículo
								li Obtén las mejores tarifas con nuestras aseguradoras aliadas 
								li Elige el tipo de seguro y forma de pago
								li Con los 3 datos anteriores obtén tu cotización personalizada 
								

					.col14
						.container
							.title.row-inline
								img(src="img/iconos/easy_insurance-venta_seguros.svg")
								h2 Venta de seguros
							ul
								li Con Easy Insurance deja de hacer largas filas en los bancos o manejar hasta tu aseguradora
								li El proceso de venta de seguros nunca había sido tan sencillo
								li Al momento de recibir tu cotización personalizada elige alguno de nuestros múltiples métodos de pago
								li Recibe la póliza en tu correo electrónico
					.col14
						.container
							.title.row-inline
								img(src="img/iconos/easy_insurance-asesoria_personalizada.svg")
								h2 Asesoría Personalizada
							ul
								li El personal de Easy insurance resuelve tus dudas sobre tu seguro de autos, no dudes en preguntar
								li No te sientes cómodo comprando el seguro por tu cuenta, contacta a nuestro personal de ventas
								li Si quieres cualquier seguro de otro tipo, nuestro equipo te puede asesorar
					.col14
						.container
							.title.row-inline
								img(src="img/iconos/easy_insurance-administracion_poliza.svg")
								h2 Administración de tu póliza
							ul
								li Únicamente ingresando tu correo electrónico, nosotros te hacemos llegar tu póliza
								li Puedes buscar tu seguro desde cualquier dispositivo móvil
								li Con Easy Insurance estas siempre protegido
								li Renovaciones fácil y rápido
				.half-separator
			.row-inline.obten-tu-seguro
				.col13
					.imgCenter
						img(src="img/easy_insurance-cotiza_ya.jpg")
					.btn
						a.btn-orange(href="cotizar.html") ¡Cotiza ya!
				.col13
					.imgCenter
						img(src="img/easy_insurance-contrata_ahora.jpg")
					.btn
						a.btn-orange(href="cotizar.html") Contrata ahora
				.col13
					.imgCenter
						img(src="img/easy_insurance-contactanos.jpg")
					.btn
						a.btn-orange(href="#contacto") Contáctanos
