app/pug/terminos-y-condiciones.pug
extends partials/_layout
block scriptsHead
	title Easy Insurance | Términos y condiciones
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="cotizar.html" ) Cotizar
block content
	.avisos-container.terminos.background-gray
		.header-container
			.imgCenter
				img(src="img/header-servicios_easy_insurance.jpg")
			.title-container
				h1 
					span Términos y condiciones
		.content.background-gray
			.padded
				.half-separator
				p.left El Usuario manifiesta aceptación y conformidad con el presente “Aviso Legal” y todas sus futuras modificaciones por el hecho de utilizar el servicio que Easy Insurance S.A. de C.V., brinda a través de este sitio.
				br
				p.left <strong>Easy Insurance S.A. de C.V. </strong> se reserva el derecho a realizar cambios en el presente “Aviso Legal” sin necesidad de informarlo al Usuario, dejando al mismo la responsabilidad de revisar las modificaciones, mismas que entrarán en vigor desde el momento de su publicación.
				br
				p.left Queda expresamente señalado que el servicio de asesoría, comparación, simulación y cálculo de cotizaciones de seguros de auto, así como para el enlace con aseguradoras que presta <strong>Easy Insurance S.A. de C.V.</strong> se proporciona con base en la información publicada por las aseguradoras de forma estimada y puede presentar cambios sin previo aviso.
				br
				p.left Easy Insurance S.A. de C.V. no es responsable de cerciorarse o comprobar la veracidad de la información proporcionada por las aseguradoras ni por el cumplimiento de estas últimas de los ofrecimientos presentados en sus cotizaciones.
				br
				p.left Easy Insurance S.A. de C.V. se reserva el derecho de suspender o cancelar temporal o definitivamente el acceso en cualquier momento al Usuario que quebrante alguna disposición legal aplicable, así como para iniciar las acciones legales correspondientes.
				br
				p.left Easy Insurance S.A. de C.V. proporciona el sitio <a href="http://www.easyinsurance.mx" target="_blank">http://www.easyinsurance.mx</a> sus contenidos como están y según disponibilidad, sin ninguna representación o garantía de ningún tipo, ya sea explícita o implícita.
				br
				p.left Easy Insurance S.A. de C.V. se deslinda de toda responsabilidad sobre la veracidad de los datos personales obtenidos para la prestación del servicio a través del portal <a href="http://www.easyinsurance.mx" target="_blank">http://www.easyinsurance.mx</a>
				br
				p.left En ningún caso Easy Insurance S.A. de C.V. será responsable de daños resultantes de error, omisión, virus, retraso o interrupción en las operaciones o el servicio, sin importar el motivo.
				br
				p.left Easy Insurance S.A. de C.V. no será responsable de las pérdidas o daños derivados de su contenido o relacionados de cualquier manera con sitios web de terceras partes o si se ha accedido a ellos mediante enlaces colocados en este sitio.
				br
				p.left Easy Insurance S.A. de C.V. no garantiza que los productos, materiales o servicios disponibles a través de este sitio sean legales, apropiados o disponibles para su uso fuera del territorio de los Estados Unidos Mexicanos, y de tener acceso a ellos desde estos lugares donde los mismos o su contenido no se encuentre permitido. Cualquier Usuario que opte por acceder a este sitio desde ubicaciones dentro o fuera del territorio de los Estados Unidos Mexicanos lo hace bajo su propia responsabilidad, por iniciativa propia y es enteramente responsable del cumplimiento de las leyes locales.
				br
				p.left Easy Insurance S.A. de C.V. informa que si bien hace su mejor esfuerzo a fin de mantener la calidad y servicio que se proporcionan, el contenido al que es posible tener acceso a través del Internet, así como aquel que se puede encontrar en cualquier enlace, página web, entre otros, no es, ni puede ser monitoreado, evaluado ni controlado, por lo que desde este momento, el Usuario libera de manera absoluta y sin limitación alguna a Easy Insurance S.A. de C.V. de cualquier tipo de responsabilidad civil, penal, administrativa, así como de cualquier daño patrimonial o moral, perjuicios o cualquier otro que pudiera emanar del uso de los Servicios y de la información disponible.
				br
				p.left Los Usuarios podrán enviar cualquier comentario o sugerencia a Easy Insurance S.A. de C.V., a través del portal <a href="http://www.easyinsurance.mx" target="_blank">http://www.easyinsurance.mx</a>  y/o al correo electrónico: <a href="mailto:clientes@easyinsurance.mx" >clientes@easyinsurance.mx</a>

dist/terminos-y-condiciones.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css?1.0.0">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="shortcut icon" href="img/favicon.png">
    <!--base(href="http://easy-insurance.opuntialabs.com/" target="_self")-->
    <title>Easy Insurance | Términos y condiciones</title>
  </head>
  <body>
    <div class="wrap-content">
      <div class="inner">
        <header>
          <div class="inner">
            <div class="top-header">
              <div class="container">
                <div class="social-media">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="login.html"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="wrap-header">
              <div class="logo"><a href="/"><img src="img/easy_insurance-seguros.png"></a></div>
              <div class="menu-bars"><span></span><span> </span><span></span></div>
              <div class="menu">
                <ul>
                  <li><a href="./">Inicio</a></li>
                  <li><a href="servicios.html">Servicios</a></li>
                  <li><a href="nosotros.html">Nosotros</a></li>
                  <li><a href="../#aseguradoras">Aseguradoras</a></li>
                  <li><a href="#contacto">Contacto</a></li>
                  <li><a href="cotizar.html">Cotizar</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <div class="wrapper-content">
          <div class="avisos-container terminos background-gray">
            <div class="header-container">
              <div class="imgCenter"><img src="img/header-servicios_easy_insurance.jpg"></div>
              <div class="title-container">
                <h1> <span>Términos y condiciones</span></h1>
              </div>
            </div>
            <div class="content background-gray">
              <div class="padded">
                <div class="half-separator"></div>
                <p class="left">El Usuario manifiesta aceptación y conformidad con el presente “Aviso Legal” y todas sus futuras modificaciones por el hecho de utilizar el servicio que Easy Insurance S.A. de C.V., brinda a través de este sitio.</p><br>
                <p class="left"><strong>Easy Insurance S.A. de C.V. </strong> se reserva el derecho a realizar cambios en el presente “Aviso Legal” sin necesidad de informarlo al Usuario, dejando al mismo la responsabilidad de revisar las modificaciones, mismas que entrarán en vigor desde el momento de su publicación.</p><br>
                <p class="left">Queda expresamente señalado que el servicio de asesoría, comparación, simulación y cálculo de cotizaciones de seguros de auto, así como para el enlace con aseguradoras que presta <strong>Easy Insurance S.A. de C.V.</strong> se proporciona con base en la información publicada por las aseguradoras de forma estimada y puede presentar cambios sin previo aviso.</p><br>
                <p class="left">Easy Insurance S.A. de C.V. no es responsable de cerciorarse o comprobar la veracidad de la información proporcionada por las aseguradoras ni por el cumplimiento de estas últimas de los ofrecimientos presentados en sus cotizaciones.</p><br>
                <p class="left">Easy Insurance S.A. de C.V. se reserva el derecho de suspender o cancelar temporal o definitivamente el acceso en cualquier momento al Usuario que quebrante alguna disposición legal aplicable, así como para iniciar las acciones legales correspondientes.</p><br>
                <p class="left">Easy Insurance S.A. de C.V. proporciona el sitio <a href="http://www.easyinsurance.mx" target="_blank">http://www.easyinsurance.mx</a> sus contenidos como están y según disponibilidad, sin ninguna representación o garantía de ningún tipo, ya sea explícita o implícita.</p><br>
                <p class="left">Easy Insurance S.A. de C.V. se deslinda de toda responsabilidad sobre la veracidad de los datos personales obtenidos para la prestación del servicio a través del portal <a href="http://www.easyinsurance.mx" target="_blank">http://www.easyinsurance.mx</a></p><br>
                <p class="left">En ningún caso Easy Insurance S.A. de C.V. será responsable de daños resultantes de error, omisión, virus, retraso o interrupción en las operaciones o el servicio, sin importar el motivo.</p><br>
                <p class="left">Easy Insurance S.A. de C.V. no será responsable de las pérdidas o daños derivados de su contenido o relacionados de cualquier manera con sitios web de terceras partes o si se ha accedido a ellos mediante enlaces colocados en este sitio.</p><br>
                <p class="left">Easy Insurance S.A. de C.V. no garantiza que los productos, materiales o servicios disponibles a través de este sitio sean legales, apropiados o disponibles para su uso fuera del territorio de los Estados Unidos Mexicanos, y de tener acceso a ellos desde estos lugares donde los mismos o su contenido no se encuentre permitido. Cualquier Usuario que opte por acceder a este sitio desde ubicaciones dentro o fuera del territorio de los Estados Unidos Mexicanos lo hace bajo su propia responsabilidad, por iniciativa propia y es enteramente responsable del cumplimiento de las leyes locales.</p><br>
                <p class="left">Easy Insurance S.A. de C.V. informa que si bien hace su mejor esfuerzo a fin de mantener la calidad y servicio que se proporcionan, el contenido al que es posible tener acceso a través del Internet, así como aquel que se puede encontrar en cualquier enlace, página web, entre otros, no es, ni puede ser monitoreado, evaluado ni controlado, por lo que desde este momento, el Usuario libera de manera absoluta y sin limitación alguna a Easy Insurance S.A. de C.V. de cualquier tipo de responsabilidad civil, penal, administrativa, así como de cualquier daño patrimonial o moral, perjuicios o cualquier otro que pudiera emanar del uso de los Servicios y de la información disponible.</p><br>
                <p class="left">Los Usuarios podrán enviar cualquier comentario o sugerencia a Easy Insurance S.A. de C.V., a través del portal <a href="http://www.easyinsurance.mx" target="_blank">http://www.easyinsurance.mx</a>  y/o al correo electrónico: <a href="mailto:clientes@easyinsurance.mx" >clientes@easyinsurance.mx</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-wrapper" id="contacto">
        <div class="recupera-tu-poliza" style="display:none;">
          <div class="inner">
            <div class="close-recupera-poliza"><i class="fa fa-times"></i></div>
            <h3>Ingresa tus datos</h3>
            <form id="solicitar-poliza">
              <label>Correo electrónico</label>
              <input type="email" required name="email">
              <label>Selecciona tu vehículo</label>
              <select>
                <option selected hidden>- Seleccionar -</option>
                <option>Jeep Patriot 2010</option>
              </select>
              <input type="submit" value="Solicitar">
            </form>
          </div>
        </div>
        <div class="inner padded">
          <div class="row-inline">
            <div class="col12">
              <h2 class="title center white">Revisa tu Póliza</h2>
              <div class="half-separator"></div>
              <div class="imgCenter"><img class="revisa-tu-poliza" src="img/cotiza_tu_poliza.svg"></div>
              <div class="center"><br><a class="btn-white" href="#" id="mostrar-poliza">Aquí</a></div>
            </div>
            <div class="col12">
              <div class="row-equal row-form">
                <div class="form-container">
                  <h2 class="title left white">Contáctanos</h2>
                  <form class="contacto-white" id="formulario-contacto">
                    <input type="text" placeholder="Nombre" name="name" required>
                    <input type="email" placeholder="Correo" name="email" required>
                    <textarea placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar">
                  </form>
                </div>
                <div class="ubicacion-container">
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-ubicacion.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-mail.svg"></div>
                  </div>
                  <div class="item-contacto">
                    <div class="imgCenter"><img src="img/easy_insurance-phone.svg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="inner row-inline">
          <div class="metodos_pago"><img src="img/metodos-pago/visa.svg"><img src="img/metodos-pago/master_card.svg"><img src="img/metodos-pago/american_express.svg"><img src="img/metodos-pago/oxxo.svg"></div>
          <div class="avisos">
            <ul>
              <li><a href="aviso-de-privacidad.html">Aviso de privacidad</a></li>
              <li><a href="terminos-y-condiciones.html">Términos y Condiciones</a></li>
            </ul>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/aos.js"></script>
      <script type="text/javascript" src="js/underscore-min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script type="text/javascript" src="js/jquery.validate.min.js"></script>
      <script>
        $('#formulario-contacto').validate({
        	rules: {
        		name: "required",
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		name: "Escribe tu nombre.",
        		email: {
        			required: "Necesitamos un email para contactarte.",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        $('#solicitar-poliza').validate({
        	rules: {
        		email: {
        			required: true,
        			email: true
        		}
        	},
        	messages: {
        		email: {
        			required: "Necesitamos un email para mostrar tus vehículos",
        			email: "Formato: tunombre@domain.com"
        		}
        	}
        });
        jQuery.extend(jQuery.validator.messages, {
        	required: "Este campo es requerido",
        });
      </script>
      <script>
        AOS.init();
        $('.menu-bars').click(function(){
        	$(this).toggleClass('active');
        	$('.menu').fadeToggle();
        });
        $('.recupera-tu-poliza').hide();
        $('#mostrar-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
        $('.close-recupera-poliza').click(function(e){
        	e.preventDefault();
        	$('.recupera-tu-poliza').fadeToggle();
        });
      </script>
    </div>
  </body>
</html>
